<ul *ngIf="activities" class="usa-unstyled-list">
  <li *ngFor="let activity of activities" class="activity">
    <div class="activity-icon">
      <i class="fa fa-file-text-o"></i>
    </div>
    <div class="activity-content">
      <div class="activity-heading">
        <div *ngIf="activity.type">
          <h3>{{ activity.type }}</h3>
        </div>
        <div *ngIf="activity.time">
          <p class="date">{{ activity.time | date }}</p>
        </div>
      </div>
      <div *ngIf="activity.message">
        <p class="message">
          {{ activity.message | truncate : 80 }}
        </p>
      </div>
    </div>
  </li>
</ul>
