<div class="search-results-content">
  <div class="banner" [style.background-image]="bannerImage">
    <div class="banner-content">
      <div class="banner-title" [textContent]="content.title"></div>
      <div class="banner-subtitle" [textContent]="content.subtitle"></div>
    </div>
  </div>
  <div class="indented">
    <ul class="breadcrumbs">
      <li><a routerLink="/">Home</a></li>
      <li>Help Wanted</li>
    </ul>
  </div>
  <div class="search-results-header">
    <div class="indented">
      <div class="width-quarter"></div>
      <h3 *ngIf="total" class="repos-count width-three-quarters">
        {{ total }} Open Tasks
      </h3>
    </div>
  </div>
  <div class="indented">
    <div id="filter-boxes-section">
      <h2>Filter</h2>
      <filter-box title="Language" [attr.options]="languages | json" (change)="onFilterBoxChange($event)"></filter-box>

      <filter-box title="Skill Level" options='["Beginner","Intermediate","Advanced"]' (change)="onFilterBoxChange($event)"></filter-box>

      <filter-box title="Time Required" options='["Small","Medium","Large"]' (change)="onFilterBoxChange($event)"></filter-box>

      <filter-box title="Type" [attr.options]="types | json" (change)="onFilterBoxChange($event)"></filter-box>

      <filter-box [style.display]="agencies && agencies.length > 1 ? 'block' : 'none'" title="Federal Agency" [attr.options]="agencies | json" (change)="onFilterBoxChange($event)"></filter-box>

      <filter-box [style.display]="licenses && licenses.length > 1 ? 'block' : 'none'" title="License" [attr.options]="licenses | json" (change)="onFilterBoxChange($event)"></filter-box>

    </div>
    <div id="filter-results-section">
      <div class="sort-section">
        <h2>
          <span>Explore Open Tasks</span>
        </h2>
      </div>
      <div class="filter-tags">
        <div class="filter-tag" *ngFor="let filterTag of filterTags" (click)="removeFilterTag(filterTag)">
          <div class="filter-tag-title">{{filterTag.name}}</div>
        </div>
      </div>
      <br/>
      <ul class="help-wanted-content-items">
        <li *ngFor="let item of finalResults" class="help-wanted-content-item">
          <help-wanted-card [item]="item"></help-wanted-card>
        </li>
      </ul>
    </div>
  </div>
</div>
