<section id="banner-help-wanted" class="block block--dark banner">
  <div class="banner-background-container">
    <div class="banner-background"></div>
  </div>
  <div class="banner-container">
    <div class="banner-content">
      <h1>Help Wanted</h1>
      <p>Discover how you can get involved and make America's Code better</p>
    </div>
  </div>
</section>
<div class="help-wanted{{mobile ? ' mobile' : ''}}">
  <div class="help-wanted-breadcrumb usa-grid">
    <ul class="usa-unstyled-list">
      <li><a routerLink="/">Home</a></li>
      <li>Help Wanted</li>
    </ul>
  </div>
  <div class="help-wanted-content usa-grid">
    <div id="help-wanted-filter-section">
      <h4 *ngIf="!mobile">Filter</h4>
      <div class="usa-button button--tertiary" *ngIf="mobile">Filter</div>
      <form class="help-wanted-filters" [formGroup]="filterForm">
        <fieldset class="usa-fieldset-inputs">
          <ul class="help-wanted-filter usa-unstyled-list" *ngFor="let option of options">
            <li>
              <h5>{{option.display}}</h5>
              <show-more [formGroup]="filterForm" name="{{option.key}}" [list]="option.options"></show-more>
            </li>
          </ul>
          <ul class="help-wanted-filter usa-unstyled-list" *ngIf="mobile">
            <li>
              <button class="usa-button-big button--tertiary" (click)="applyFilters()">Apply Filters</button>
            </li>
          </ul>          
        </fieldset>
      </form>
    </div>
    <div class="help-wanted-results">
      <div class="help-wanted-content-header">
        <h4>Explore Our Help Wanted Tasks</h4>
        <ul class="help-wanted-tabs usa-unstyled-list">
          <li [ngClass]="{ active: this.activeTab === 'featured' }"><a href="#" (click)="setActiveTab('featured', $event)">Featured</a></li>
          <li [ngClass]="{ active: this.activeTab === 'active' }"><a href="#" (click)="setActiveTab('active', $event)">Active</a></li>
          <li [ngClass]="{ active: this.activeTab === 'popular' }"><a href="#" (click)="setActiveTab('popular', $event)">Popular</a></li>
        </ul>
      </div>
      <ul class="help-wanted-content-items usa-unstyled-list">
        <li *ngFor="let item of filteredItems" class="help-wanted-content-item">
          <help-wanted-card [item]="item"></help-wanted-card>
        </li>
      </ul>
    </div>
  </div>
</div>