<div class="banner-help-wanted">
  <h1>Help Wanted</h1>
  <p>Discover how you can get involved and make America's Code better</p>
</div>

<div class="help-wanted{{mobile ? ' mobile' : ''}}">
  <div class="help-wanted-breadcrumb usa-grid">
    <ul class="usa-unstyled-list">
      <li><a routerLink="/">Home</a></li>
      <li>Help Wanted</li>
    </ul>
  </div>
  <div class="help-wanted-content usa-grid">
    <div id="help-wanted-filter-section">
      <h4 *ngIf="!mobile">Filter</h4>
      <form class="help-wanted-filters" [formGroup]="filterForm"  *ngIf="!mobile">
        <fieldset class="usa-fieldset-inputs">
          <ul class="help-wanted-filter usa-unstyled-list" *ngFor="let option of getDesktopFormOptions()" >
            <li class="filter-bottom-padding">
              <h5>{{option.display}}</h5>
              <show-more [formGroup]="filterForm" name="{{option.key}}" [list]="option.options"></show-more>
            </li>
          </ul>
          <ul class="help-wanted-filter usa-unstyled-list" *ngIf="mobile">
            <li>
              <button class="usa-button-big button--tertiary" (click)="applyFilters()">Apply Filters</button>
            </li>
          </ul>
        </fieldset>
      </form>
    </div>
    <div class="help-wanted-results">
      <div class="help-wanted-content-header">
        <h4>Explore Our Help Wanted Tasks</h4>
        <button id="filter-popup-trigger-button" class="usa-button-big button--tertiary" *ngIf="mobile" (click)="openPopup()">Filter</button>
        <ul class="help-wanted-tabs usa-unstyled-list" *ngIf="!mobile">
          <li [ngClass]="{ active: this.activeTab === 'Featured' }"><a href="#" (click)="setActiveTab('Featured', $event)">Featured</a></li>
          <li [ngClass]="{ active: this.activeTab === 'Active' }"><a href="#" (click)="setActiveTab('Active', $event)">Active</a></li>
          <li [ngClass]="{ active: this.activeTab === 'Popular' }"><a href="#" (click)="setActiveTab('Popular', $event)">Popular</a></li>
          <li [ngClass]="{ active: this.activeTab === 'All' }"><a href="#" (click)="setActiveTab('All', $event)">All</a></li>
        </ul>
      </div>
      <ul class="help-wanted-content-items usa-unstyled-list">
        <li *ngFor="let item of filteredItems" class="help-wanted-content-item">
          <help-wanted-card [item]="item" [mobile]="mobile"></help-wanted-card>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="filter-form-popup{{displayPopup ? ' display' : ''}}" *ngIf="mobile">
  <div class="close-button-wrapper"><span class="close-button" (click)="closePopup()">X</span></div>
  <form class="help-wanted-filters" [formGroup]="filterForm">
    <h4>Filter</h4>
    <fieldset class="usa-fieldset-inputs">
      <ul class="help-wanted-filter usa-unstyled-list" *ngFor="let option of getMobileFormOptions()" >
      <li class="filter-bottom-padding">
        <h5>{{option.display}}</h5>
        <show-more [formGroup]="filterForm" name="{{option.key}}" [list]="option.options"></show-more>
      </li>
      </ul>
      <ul class="help-wanted-filter usa-unstyled-list">
        <li>
          <button class="usa-button-big button--tertiary" (click)="applyFilters(); closePopup();">Apply Filters</button>
        </li>
      </ul>
    </fieldset>
  </form>
</div>

<!-- modal for external links -->
<modal></modal>
