<footer class="{{color}}" role="contentinfo">
  <div class="footer-content">
    <div class="footer-part links">
      <ul>
        <li>
          <a class="link" href="/#/privacy-policy">
            <span>Privacy Policy</span>
          </a>
        </li>
        <li>
          <a class="link" href="https://github.com/GSA/code-gov-web" target="_blank" rel="noopener">
            <span>Visit Project Page</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-part logos">
      <ul>
        <li>
          <a href="https://whitehouse.gov" target="_blank" rel="noopener">
            <img src="../../../assets/img/logos/whitehouse.png" alt="The White House">
            <span>The White House</span>
          </a>
        </li>
        <li>
          <a href="https://presidentialinnovationfellows.gov/" target="_blank" rel="noopener">
            <img src="../../../assets/img/logos/PIF.png" alt="Presidential Innovation Fellows">
            <span>PIF</span>
          </a>
        </li>
        <li>
          <a href="//www.gsa.gov" target="_blank" rel="noopener">
            <img src="../../../assets/img/logos/GSA.png" alt="General Services Administration">
            <span>GSA</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
