<div class="usa-disclaimer">
  <div class="usa-grid">
    <span class="usa-disclaimer-official">
      <img src="assets/img/us_flag_small.png" alt="U.S. flag"/>
      An official website of the United States Government
    </span>
    <span class="usa-disclaimer-stage">
      This site is currently in alpha.
      <a href="https://18f.gsa.gov/dashboard/stages/#alpha" target="_blank">
        Learn More
      </a>
    </span>
  </div>
</div>

<nav class="app-navigation" role="navigation">
  <div class="usa-grid">
    <div class="app-logo">
      <a [routerLink]=" ['./'] ">
        <strong>Code</strong>.gov
      </a>
    </div>
    <ul class="app-links usa-unstyled-list">
      <li>
        <a [routerLink]=" ['./'] ">
          Explore Code
        </a>
      </li>
      <li>
        <a [routerLink]="['policy-guide/docs/overview/introduction']" routerLinkActive="active">
          Policy Guide
        </a>
      </li>
    </ul>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="app-footer">
  <div class="usa-grid">
    <div class="usa-width-two-thirds">
      <div class="row">
        <nav class="footer-links">
          <ul class="usa-unstyled-list">
            <li>
              <a href="http://www.gsa.gov/portal/content/116609" target="_blank">Privacy Policy</a>
            </li>
            <li>
              <a href="https://18f.gsa.gov/linking-policy/" target="_blank">Linking Policy</a>
            </li>
            <li>
              <a href="https://github.com/presidential-innovation-fellows/code-gov-web" target="_blank">View on GitHub</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row">
        <ul class="agency-logos usa-unstyled-list">
          <li class="whitehouse">
            <a href="https://whitehouse.gov" target="_blank">
              <img src="assets/img/logos/whitehouse.png" alt="The White House">
            </a>
          </li>
          <li class="pif">
            <a href="https://www.pif.gov/" target="_blank">
              <img src="assets/img/logos/PIF.png" alt="Presidential Innovation Fellows">
            </a>
          </li>
          <li class="gsa">
            <a href="http://gsa.gov" target="_blank">
              <img src="assets/img/logos/GSA.png" alt="General Services Administration">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="usa-width-one-third">
      <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='#';} " aria-hidden="true"></iframe>
      <form action="https://docs.google.com/a/gsa.gov/forms/d/e/1FAIpQLSejHiSAm26JMKpuFgCvU1yHYZ3zMG0WkyUJGmauBCOBLjsx9A/formResponse" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="hidden_iframe" onsubmit="setTimeout(showConfirmation, 1000);" novalidate="">
        <label for="email">Subscribe to our mailing list</label>
        <input type="email" value="" name="entry.885250725" class="email" id="email" placeholder="email@code.gov" required="">
        <input type="submit" value="Subscribe" name="subscribe" class="blank submit">
        <div id="confirmation"></div>
        <div aria-hidden="true" style="display:none;">
          <input type="text" name="b_8ff93f9a5662324b360f8107e_ce4b0617e6" tabindex="-1" value="">
        </div>
      </form>
    </div>
  </div>
</footer>
