@import '../../../styles/base/all';
@import '../../../styles/utils/all';

.block--dark {
  .app-logo {
    .cls-1 {
      fill: $color-white;
    }
  }
}

.agency-logos {

  li {
    display: inline-block;
    margin-right: 0.5em;
  }

  .gsa,
  .pif {
    max-width: 2.75em;
  }

  .whitehouse {
    max-width: 4em;
  }
}

.app-links {
  display: block;
  float: right;

  a {
    &.active {
      color: $brand-primary;
      font-weight: bold;
    }
  }

  li {
    display: inline-block;
    font-size: 1em;
    margin-left: 1em;
  }
}

.app-logo {
  float: left;
  width: 6em;

  a {
    display: block;

    &:focus {
      box-shadow: none;
      outline: 0;
    }
  }

  svg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .svg-container {
    height: 0;
    padding-top: 29%;
    position: relative;
    width: 100%;
  }
}

.app-navigation {
  font-size: 0.8em;
  padding: 1.75em 0;

  @media screen and (min-width: $small-screen) {
    font-size: 1em;
  }
}

.footer-links {
  margin-bottom: 1em;

  a {
    font-size: 0.9em;
  }

  li {
    display: inline-block;
    margin-right: 1em;
  }
}

.subnav {
  @extend %subnav;
}

.usa-disclaimer {
  height: auto;

  a {
    color: $brand-blue;
    font-weight: bold;
    text-decoration: none;
  }

  img {
    max-width: 1.5em;
  }

  .usa-disclaimer-stage {
    margin-bottom: 0;
    margin-top: 0;
  }
}
