<div class="usa-disclaimer">
  <div class="usa-grid">
    <span class="usa-disclaimer-official">
      <img src="/assets/img/us_flag_small.png" alt="U.S. flag"/>
      An official website of the United States Government
    </span>
    <span class="usa-disclaimer-stage">
      This site is currently in alpha.
      <a href="https://18f.gsa.gov/dashboard/stages/#alpha" target="_blank">
        Learn More
      </a>
    </span>
  </div>
</div>

<nav class="app-navigation" role="navigation">
  <div class="usa-grid">
    <div class="app-logo">
      <a [routerLink]=" ['./'] ">
        <strong>Code</strong>.gov
      </a>
    </div>
    <ul class="app-links usa-unstyled-list">
      <li>
        <a [routerLink]=" ['./'] ">
          Explore Code
        </a>
      </li>
      <li>
        <a [routerLink]=" ['./'] ">
          Policy Guide
        </a>
      </li>
    </ul>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
</footer>
