<div class="repo-list-item card card--focusable">
  <h3 class="repo-name">
    <a routerLink="/explore-code/agencies/{{repo.agency.acronym}}/repos/{{repo.repoID}}">{{ repo.name }}</a>
    <span 
      class="repo-label"
      [ngClass]="{'state': repo.orgType === 'state', 'city': repo.orgType === 'city'}">
    </span>
  </h3>
  <p *ngIf="agency" class="repo-agency-icon">
    <span>{{ agency?.name }}</span>
  </p>
  <p class="repo-description">
    {{ repo.description | truncate : 200 }}
  </p>
  <ul *ngIf="isGitHubRepo() || repo?.permissions?.usageType === 'openSource' || repo?.permissions?.usageType === 'governmentWideReuse' || repo?.languages?.length > 0 || repo.permissions?.licenses && repo.permissions?.licenses?.length > 0 && repo.permissions?.licenses[0]?.name" class="repo-features">
    <li *ngIf="isGitHubRepo()">
      <i class="icon icon-github"></i>
      <span><a [href]="repo.repositoryURL">{{ repo.repositoryURL }}</a></span>
    </li>
    <li *ngIf="repo.permissions?.usageType === 'openSource'">
      <i class="icon icon-ok-circled2"></i><span>Open Source</span>
    </li>
    <li *ngIf="repo.permissions?.usageType === 'governmentWideReuse'">
      <i class="icon icon-arrows-cw"></i><span>Gov-wide Reuse</span>
    </li>
    <li *ngIf="repo.languages?.length > 0" class="language">
      <i class="icon icon-code"></i>
      <span *ngFor="let language of repo.languages">{{ language }}</span>
    </li>
    <li *ngIf="repo.permissions?.licenses && repo.permissions?.licenses?.length > 0 && repo.permissions?.licenses[0]?.name">
      <i class="icon icon-certificate"></i>
      <span>{{ repo.permissions?.licenses[0]?.name }}</span>
    </li>
  </ul>
</div>
