<a routerLink="/repos/{{repo.repoID}}">
  <h3 class="repo-name">{{ repo.name }}</h3>
  <p class="repo-description">
    {{ repo.description | truncate : 200 }}
  </p>
  <ul class="usa-unstyled-list repo-features">
    <li *ngFor="let language of repo.codeLanguage" class="language">
      <i class="devicons devicons-{{language.language | lowercase | languageIcon }}"></i>
      <span>{{ language.language }}</span>
    </li>
    <li *ngIf="repo.openSourceProject === 1">
      <i class="fa fa-code"></i><span>Open Source</span>
    </li>
    <li *ngIf="repo.governmentWideReuseProject === 1">
      <i class="fa fa-refresh"></i><span>Gov-wide Reuse</span>
    </li>
  </ul>
</a>
