@import '~@code.gov/code-gov-style/_sass/_variables';

.repo-list-item {
  display: block;
  margin-bottom: 1em;
  padding: 1em;
  text-decoration: none;
  @include clearfix;

  .mybutton {
    float: right;
  }

  hr {
    visibility: hidden;
    display: none;

    @media screen and (min-width: $small-screen) {
      border-top: 1px solid $color-gray-lighter;
      display: block;
      margin-left: -1em;
      margin-right: -1em;
      margin-top: 2rem;
      max-width: none;
      visibility: visible;
      width: auto;
    }
  }

  .agency-details {
    font-size: .85714286em;

      &> span{
      font-weight: $font-bold;

      &:last-child {
        margin-left: 1rem;
      }

      &:only-child {
        margin-left: 0;
      }
    }
  }

  @media screen and (max-width: $small-screen - 1) {
    &.card {
      border-left: 0;
      border-right: 0;
      border-top: 0;
      padding-bottom: 3rem;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

h3 {
  margin-bottom: 0.2em;
  font-weight: $font-bold;
}

p {
  font-size: 1em;
  margin: 0;
}

.repo-description {
  margin-bottom: 1rem;
}

.repo-features {
  color: $brand-blue-dark;
  display: none;
  margin-bottom: 1rem;

  @media screen and (min-width: $small-screen) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
  }

  li {
    display: inline-block;
    font-weight: $font-bold;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    min-width: 25%;
    @include clearfix;

    &> span {
      font-weight: 400;
    }

    a {
      color: $brand-blue-dark;
      text-decoration: none;
    }

    &:last-child {
      margin-right: 0;

      i {
        margin-right: 0.2em;
      }
    }
  }
}
