@import '../../../styles/base/all';
@import '../../../styles/utils/all';

a {
  @extend %card;
  @include transition(all 0.2s ease);
  color: $color-gray;
  display: block;
  font-size: 0.95em;
  margin-bottom: 1em;
  text-decoration: none;

  &:hover {
    box-shadow: 0 3px 4px rgba($color-gray-dark, 0.2);

    h3 {
      color: $color-primary;
    }
  }
}

h3 {
  margin-bottom: 0.2em;
}

p {
  font-size: 0.95em;
  margin: 0;
}

.repo-features {
  margin-top: 0.2em;

  i {
    color: $brand-teal;
  }

  li {
    display: inline-block;
    margin-right: 0.75em;

    &:last-child {
      margin-right: 0;

      i {
        margin-right: 0.2em;
      }
    }
  }
}
