@import '~@code.gov/code-gov-style/_sass/_variables';

nav {
  a {
    img {
      height: 33px;
      width: 175px;

      @media screen and (max-width: 600px) {
        padding-top: 10px;
      }
    }
  }
}

ul {
  li {
    a {
      svg{
        float: left;
      }
    }
  }
}

.app-navigation {
  box-shadow: none;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  transition: 0.5s box-shadow, 0.5s background-color;
  width: 100%;
  z-index: 3;

  @media screen and (min-width: $small-screen) {
    padding: 1.5rem 2rem;
  }

  .search-form {
    display: none;

    @media screen and (min-width: $medium-screen) {
      width: 36rem;
    }

    @media screen and (min-width: $large-screen) {
      display: block;
    }

    input[type=search] {
      width: 90%;
    }
  }
}

.app-links {
  display: none;

  @media screen and (min-width: $small-screen) {
    display: block;
  }

  &--right {
    float: right;

    li {
      margin-left: 0;
      position: relative;

      &:after {
        content: "";
        background: $color-gray;
        height: 50%;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
      }

      &:first-of-type {
        &:after {
          display: none;
        }
      }
    }

    a {
      cursor: pointer;
    }

    i {
      color: $color-gray;
      font-size: 1.5em;
      line-height: 40px;
    }
  }
}

.dropdown > a {
  border-bottom: 3px solid transparent;
}

.dropdown-menu {
  background-color: $brand-blue-gray;

  > li > a {
    color: $color-gray-lighter;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $color-white;
    }
  }
}

.search-form {
  display: none;

  @media screen and (min-width: $small-screen) {
    display: block;
    float: right;
  }

  input[type=search] {
    width: 90%;
  }
}

.search-box {
  background-color: $color-gray-dark;
  display: none;
  padding: 0.5rem 2rem;
  position: fixed;
  right: 0;
  top: 20px;
  transition: 0.25s linear transform;
  width: 100%;
  z-index: 2;

  @media screen and (min-width: $small-screen) {
    display: block;
  }

  @media screen and (min-width: $medium-screen) {
    padding-right: 68px;
  }

  &.active {
    transform: translateY(55px);
  }

  .search-form {
    @media screen and (min-width: $medium-screen) {
      width: 36rem;
    }
  }
}

.close-search-box-button {
  color: $color-white;
  cursor: pointer;
  float: right;
  font-size: 1.4em;
  height: 42px;
  line-height: 42px;
  position: relative;
  text-decoration: none;
  transition: 0.25s transform;
  width: 10%;

  @media screen and (min-width: $medium-screen) {
    width: 42px;
  }

  &:focus,
  &:hover {
    transform: scale(1.5);

    > i {
      color: $color-white;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  > i {
    color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
