<nav class="main {{color}}" [ngClass]="{'not-at-top': !isAtTop}">

  <mobile-menu-button></mobile-menu-button>

  <a class="svg-container" [attr.title]="title + ' Home'" routerLink="/">
    <img [src]="color === 'white' ? headerContent?.logos?.dark : headerContent?.logos?.light">
  </a>

  <ul>

    <li *ngFor="let menuOption of menu">

      <div [textContent]="menuOption.name" (click)="onClickMenuOption()"></div>

      <ul *ngIf="menuOption.links && menuOption.links.length > 0">
        <li *ngFor="let link of menuOption.links">
          <a
            *ngIf="link.routerLink"
            [routerLink]="menuOption.routerLink"
            [textContent]="menuOption.name"
          ></a>
          <a
            *ngIf="!link.routerLink"
            [href]="menuOption.url"
            [textContent]="menuOption.name"
          ></a>
        </li>
      </ul>

    </li>

  </ul>

  <ul class="right">
    <li *ngIf="dropdownSearchBox">
      <a class="no-underline" (click)="toggleSearchBox()">
        <i class="icon icon-search"></i>
      </a>
    </li>
    <li *ngIf="twitterHandle">
      <a class="no-underline" href="https://twitter.com/{{twitterHandle}}" title="Follow us on Twitter">
        <span *ngIf="!dropdownSearchBox" class="follow-us">Follow Us</span>
        <i class="icon icon-twitter"></i>
      </a>
    </li>
  </ul>

</nav>

<div *ngIf="dropdownSearchBox" class="search-box" [ngClass]="{'active': isSearchBoxShown}">
  <a class="close-search-box-button" (click)="hideSearchBox()">
    <i class="icon icon-cancel"></i>
  </a>
  <form
      class="search-form"
      (ngSubmit)="handleFormSubmission()">
    <search-input
        name="searchQuery"
        placeholder="Search Projects..."
        [(queryValue)]="searchQuery"
        ngDefaultControl>
    </search-input>
  </form>
</div>
