<sidebar>
  <sidebar-menu-text>Menu</sidebar-menu-text>
  <sidebar-content>
    <li routerLinkActive="current">
      <a routerLink="introduction" routerLinkActive="current">Introduction</a>
    </li>
    <li routerLinkActive="current">
      <a routerLink="objectives" routerLinkActive="current">1. Objectives</a>
    </li>
    <li routerLinkActive="current">
      <a routerLink="scope" routerLinkActive="current">2. Scope & Applicability</a>
    </li>
    <li routerLinkActive="current">
      <a routerLink="solutions-analysis" routerLinkActive="current">3. Three-Step Software Solutions Analysis</a>
    </li>
    <li routerLinkActive="current">
      <a routerLink="code-reuse" routerLinkActive="current">4. Government-Wide Code Reuse</a>
    </li>
    <li routerLinkActive="current">
      <a routerLink="open-source" routerLinkActive="current">5. Open Source Software</a>
    </li>
    <li routerLinkActive="current">
      <a routerLink="exceptions" routerLinkActive="current">6. Exceptions to Government Code Reuse</a>
    </li>
    <li routerLinkActive="current">
      <a routerLink="implementation" routerLinkActive="current">7. Implementation</a>
    </li>
    <li routerLinkActive="current">
      <a routerLink="appendix" routerLinkActive="current">Appendix A - Definitions</a>
    </li>
  </sidebar-content>
</sidebar>

<section class="docs-content">
  <router-outlet></router-outlet>
</section>
