@import '../../../../styles/base/all';

.docs-content {
  background-color: $color-white;
  padding: 2.5em 1.5em;

  @include media($medium-screen) {
    @include span-columns(9);
  }

  @include media($extra-large-screen) {
    padding: 2.5em 2em;
  }

  a {
    color: darken($brand-teal, 10);
    text-decoration: none;

    &:hover {
      color: darken($brand-teal, 20);
    }
  }

  blockquote {
    background-color: lighten($color-gray-lightest, 2);
    border-left: 6px solid $brand-purple;
    color: darken($color-gray, 6);
    margin: 1.5em 0;
    padding: 1em 1em 1em 2.5em;

    p {
      font-size: 0.95em;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  code {
    background-color: $brand-blue-gray;
    border-radius: 3px;
    color: $brand-teal;
    font-size: 0.9em;
    padding: 2px 3px;
  }

  li {
    color: $color-gray;

    p {
      font-size: 1em;
    }

    ul {
      margin-top: 0.2em;
      padding-left: 1.25em;
    }
  }
}

.menu-icon {
  @include transform(rotate(0deg));
  @include transition(0.3s ease-in-out);
  cursor: pointer;
  display: inline-block;
  height: 16px;
  position: relative;
  width: 18px;

  @include media($medium-screen) {
    display: none;
  }

  .line {
    @include transform(rotate(0deg));
    @include transition(0.2s ease-in-out);
    background: lighten($color-white, 5);
    border-radius: 3px;
    display: block;
    height: 2px;
    left: 0;
    opacity: 1;
    position: absolute;
    width: 100%;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 6px;
    }

    &:nth-child(4) {
      top: 12px;
    }
  }
}

.menu-text {
  display: inline-block;
  margin-left: 0.2em;
  vertical-align: top;
}

.policy-guide-subnav {
  position: relative;

  @include media($medium-screen) {
    @include span-columns(3);
  }

  &.active {

    .usa-sidenav-list {
      @include transition(all 0.2s ease);
      @include transform(translateY(0));
      opacity: 1;
      visibility: visible;
    }

    .menu-icon {

      .line {

        &:nth-child(1) {
          left: 50%;
          top: 6px;
          width: 0%;
        }

        &:nth-child(2) {
          @include transform(rotate(45deg));
        }

        &:nth-child(3) {
          @include transform(rotate(-45deg));
        }

        &:nth-child(4) {
          left: 50%;
          top: 6px;
          width: 0%;
        }
      }
    }
  }

  .mobile-submenu {
    font-size: 0.95em;
    margin-bottom: 1.25em;
    padding: 0.75em 0.5em 0.65em;
    width: auto;

    @include media($medium-screen) {
      display: none;
    }
  }

  .usa-sidenav-list {
    @include transform(translateY(-0.5em));
    background-color: darken($brand-blue-gray, 10);
    left: 0;
    padding: 1em;
    position: absolute;
    width: 100%;
    opacity: 0;
    visibility: hidden;

    &::before {
      border-bottom: 10px solid darken($brand-blue-gray, 10);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      content: "";
      height: 0;
      left: 1em;
      position: absolute;
      top: -10px;
      width: 0;

      @include media($medium-screen) {
        display: none;
      }
    }

    @include media($medium-screen) {
      background-color: transparent;
      display: block;
      left: auto;
      padding: 0;
      position: static;
      opacity: 1;
      visibility: visible;
    }

    a {
      color: $color-gray-lightest;
    }
  }

  a {
    font-size: 0.95em;
    text-decoration: none;

    &:focus {
      box-shadow: 0 0 3px rgba(darken($color-gray-dark, 15), 0.25), 0 0 7px rgba(darken($color-gray-dark, 15), 0.25);
      outline: 0;
    }

    &:hover {
      color: $color-white;
    }
  }

  li {
    font-size: 1em;
  }

  .usa-current {

    .usa-sidenav-sub_list {
      display: block;
    }
  }

  .usa-sidenav-list {

    a {

      &:hover {
        background-color: darken($brand-blue-gray, 10);
      }
    }
  }

  .usa-sidenav-sub_list {
    display: none;
  }
}
