@import '../../../../styles/base/all';

.docs-content {
  @include span-columns(9);
  background-color: $color-white;
  padding: 2.5em 1.5em;

  @include media($extra-large-screen) {
    padding: 2.5em 2em;
  }
}

.policy-guide-subnav {
  @include span-columns(3);

  a {
    color: $color-gray-lightest;
    font-size: 0.95em;
    text-decoration: none;

    &:focus {
      box-shadow: 0 0 3px rgba(darken($color-gray-dark, 15), 0.25), 0 0 7px rgba(darken($color-gray-dark, 15), 0.25);
      outline: 0;
    }

    &:hover {
      color: $color-white;
    }
  }

  .usa-sidenav-list {

    a {

      &:hover {
        background-color: darken($brand-blue-gray, 10);
      }
    }
  }
}
