<div class="artwork">
  <div class="topbar">
    <span class="circle red"></span>
    <span class="circle yellow"></span>
    <span class="circle green"></span>
  </div>
  <div class="content">
    <p>
      <span class="prompt">&gt;</span>
      Want to improve <a href="https://github.com/presidential-innovation-fellows/code-gov-web">Code.gov</a>?
    </p>
    <p class="second-line">
      <span class="prompt">&gt;</span>
      Visit our <a href="https://github.com/presidential-innovation-fellows/code-gov-web" target="_blank" rel="noopener">project page</a> or git clone git@github.com:presidential-innovation-fellows/code-gov-web.git
      <span class="cursor">&#x275a;</span>
    </p>
  </div>
</div>
