@import '../../../../styles/base/all';

.artwork {
  bottom: 0;
  left: 50%;
  margin-left: -10em;
  overflow: hidden;
  position: absolute;
  width: 20em;

  @media screen and (min-width: $small-screen) {
    margin-left: -13em;
    width: 26em;
  }

  @media screen and (min-width: $medium-screen) {
    margin-left: -18.5em;
    width: 37em;
  }

  @media screen and (min-width: $large-screen) {
    margin-left: -22.5em;
    width: 45em;
  }

  a {
    color: lighten($brand-teal, 12);
    padding-bottom: 0.1em;
    text-decoration: none;

    &:focus {
      box-shadow: 0 0 3px rgba($color-white, 0.25), 0 0 7px rgba($color-white, 0.25);
    }

    &:hover {
      border-bottom: 2px solid $brand-highlight;
    }
  }

  p {
    color: lighten($brand-blue-gray, 50);
    font-size: 0.85em;
    margin: 0 0 0.1em;

    @media screen and (min-width: $medium-screen) {
      font-size: 0.9em;
    }

    @media screen and (min-width: $large-screen) {
      font-size: 1em;
    }
  }

  .circle {
    border-radius: 50%;
    display: inline-block;
    height: 0.53em;
    margin-right: 0.1em;
    width: 0.53em;

    @media screen and (min-width: $medium-screen) {
      height: 0.65em;
      margin-right: 0.25em;
      width: 0.65em;
    }

    &.green {
      background-color: #34c84a;
    }

    &.red {
      background-color: #fc625d;
    }

    &.yellow {
      background-color: #fdbc40;
    }
  }

  .content {
    background-color: $color-gray-dark;
    font-family: $header-font-family;
    font-size: 0.8em;
    padding: 0.75em;

    @media screen and (min-width: $medium-screen) {
      padding: 1em;
    }
  }

  .cursor {
    animation: blink 0.8s step-end infinite;
    color: $brand-highlight;
    font-size: 1.1em;
  }

  .dolla {
    margin-right: 0.5em;
  }

  .topbar {
    background-color: darken($color-gray-lightest, 5);
    border-radius: 0.3em 0.3em 0 0;
    padding: 0.05em 0.75em;

    @media screen and (min-width: $medium-screen) {
      padding: 0.25em 1em;
    }
  }
}
