<div *ngIf="visible" class="overlay" (click)="close()">
  <div class="modal-container" tabindex="-1">
    <div class="close">
      <button (click)="close()" aria-label="close">
        <i class="icon icon-cancel"></i>
      </button>
    </div>
    <div *ngIf="title" class="modal-header">
      <h1>{{ title }}</h1>
    </div>
    <div class="modal-content">
      <p *ngIf="description">{{ description }}</p>
      <p class="link-pretext">Continue to:</p>
      <a
        *ngIf="url"
        angulartics2On="click"
        angularticsEvent="Link Click"
        angularticsCategory="Modal"
        [angularticsProperties]="{ label: url }"
        href="{{ url }}"
        target="_blank"
        rel="noopener"
      >
        {{ url }}
      </a>
    </div>
  </div>
</div>
