@import '../../../styles/base/all';
@import '../../../styles/utils/all';

body {
  background-color: $color-white;
}

.about {
  border-bottom: 1px solid $color-gray-lightest;
  padding: 2em 0 1em;

  @media screen and (min-width: $medium-screen) {
    padding: 4em 0;
  }

  header {
    margin: 0 auto;
    text-align: center;

    @media screen and (min-width: $small-screen) {
      max-width: 43em;
    }


    h1 {
      font-size: 1.75em;
      margin: 0 auto;
      max-width: 17em;

      @media screen and (min-width: $small-screen) {
        font-size: 2em;
      }

      @media screen and (min-width: $medium-screen) {
        font-size: 4rem;
      }
    }

    p {
      font-size: 1em;

      @media screen and (min-width: $medium-screen) {
        font-size: 1.2em;
      }
    }
  }

  li {
    @extend %card;
  }

  .usa-button {
    background-color: $brand-purple;

    &:hover {
      background-color: darken($brand-purple, 10);
    }
  }
  .usa-mail-button {
    background-color: $brand-teal;

    &:hover {
      background-color: darken($brand-teal, 10);
    }
  }
}

.about-actions {
  margin-top: 2em;
  padding: 0;

  @media screen and (min-width: $medium-screen) {
    margin-top: 4em;
  }

  h2 {
    font-size: 1.3em;
    margin-top: 0;
  }

  li {
    margin-bottom: 2em;
    padding-left: 3em;
    position: relative;

    .icon {
      left: 1em;
      position: absolute;
      top: 1em;
    }

    i {
      color: $brand-teal;
      font-size: 1.2em;
    }
  }

  p {
    font-size: 0.95em;
  }

}

.banner {
  background-color: darken($color-primary, 10);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em 0 9em;
  position: relative;

  @media screen and (min-width: $small-screen) {
    padding: 4em 0 8em;
  }

  h1 {
    color: $color-white;
    font-size: 2em;
    margin: 0 0 0.25em;

    @media screen and (min-width: $small-screen) {
      font-size: 2.8em;
    }

    @media screen and (min-width: $medium-screen) {
      font-size: 3.2em;
    }
  }

  p {
    color: lighten($brand-blue-gray, 50);
    font-size: 1em;
    margin-top: 0;

    @media screen and (min-width: $small-screen) {
      font-size: 1.2em;
    }

    @media screen and (min-width: $medium-screen) {
      font-size: 1.4em;
    }
  }

  .usa-button {
    box-shadow: 0 3px 7px rgba($color-black, 0.1);
    font-size: 1em;
    margin: 0 auto;
    max-width: 12em;

    &:hover {
      background-color: darken($color-primary, 15);
    }

    @media screen and (min-width: $small-screen) {
      font-size: 1.2em;
      max-width: none;
    }
  }
  .usa-mail-button {
    box-shadow: 0 3px 7px rgba($color-black, 0.1);
    font-size: 1em;
    margin: 0 auto;
    max-width: 12em;

    &:hover {
      background-color: darken($color-primary, 15);
    }

    @media screen and (min-width: $small-screen) {
      font-size: 1em;
      max-width: none;
    }
  }
}

.banner-container {
  background-color: darken($color-primary, 10);
  margin: 0 auto;
  max-width: 37em;
  text-align: center;
}

.press {
  padding: 4em 0;

  h2 {
    color: $color-gray-light;
    font-size: 1em;
    margin-bottom: 2em;
    text-align: center;
    text-transform: uppercase;
  }
}

.press-container {
  @include clearfix;
  margin: 0 auto;
  max-width: 43em;
}

.press-links {
  margin-top: 2em;
  text-align: center;

  @media screen and (min-width: $medium-screen) {
    margin-top: 0;
    text-align: right;
  }

  img {
    backface-visibility: visible;
    transition: all 0.2s ease;
    transform-style: preserve-3d;
    transform: translate3d(0,0,0);
    max-width: 7.5em;
    -webkit-perspective: 1000;

    &:hover {
      transform: translateY(-2px);
    }
  }

  li {
    margin-bottom: 0.5em;
  }
}

.quote-large {

  h1 {
    color: $brand-blue-gray;
    font-size: 1.75em;
    margin-bottom: 0.2em;
    padding-left: 0.75em;
    position: relative;

    @media screen and (min-width: $medium-screen) {
      font-size: 2.5em;
    }

    &::before {
      color: $brand-teal;
      content: "“";
      font-size: 1.75em;
      left: 0em;
      position: absolute;
      top: -0.275em;

      @media screen and (min-width: $medium-screen) {
        font-size: 2.5em;
      }
    }
  }

  .attribution {
    border-top: 1px solid lighten($color-gray-light, 10);
    display: inline-block;
    margin-left: 1.3em;
    padding-top: 0.75em;

    @media screen and (min-width: $medium-screen) {
      margin-left: 2em;
    }

    img {
      backface-visibility: visible;
      transition: all 0.2s ease;
      transform-style: preserve-3d;
      max-width: 5em;
      -webkit-perspective: 1000;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}
