<section class="banner">
  <div class="usa-grid">
    <div class="banner-container">
      <div class="banner-content">
        <h1>Sharing America's Code</h1>
        <p>
          Unlock the tremendous potential of the Federal Government’s software.
        </p>
        <a routerLink="explore-code" class="usa-button usa-button-big">
          Explore Code
        </a>
      </div>
    </div>
    <banner-art></banner-art>
  </div>
</section>
<section class="about">
  <div class="usa-grid">
    <header>
      <h1>Help propel America’s next breakthrough in innovation.</h1>
      <p>
        Code.gov is a platform designed to improve access to the federal
        government’s custom-developed software.
      </p>
    </header>
    <ul class="usa-unstyled-list usa-grid about-actions">
      <li class="usa-width-one-half">
        <div class="icon">
          <i class="fa fa-code"></i>
        </div>
        <h2>Explore Code</h2>
        <p>
           Choose from dozens of open source projects that you can reuse or
           contribute to.
        </p>
        <a routerLink="explore-code" class="usa-button">
          Browse Code
        </a>
      </li>
      <li class="usa-width-one-half">
        <div class="icon">
          <i class="fa fa-book"></i>
        </div>
        <h2>Implement Policy</h2>
        <p>
           Discover tools and resources designed to help federal
           agencies implement the Federal Source Code Policy.
        </p>
        <a routerLink="policy-guide" class="usa-button">
          Get Started
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="press">
  <div class="usa-grid">
    <h2>Press</h2>
    <div class="press-container">
      <div class="usa-width-two-thirds quote-large">
        <h1>
          It’s the latest in a long line of high-profile victories for the open
          source movement.
        </h1>
        <div class="attribution">
          <a external-link href="https://www.wired.com/2016/08/open-source-won-now/">
            <img src="assets/img/logos/press/wired.svg" alt="Wired">
          </a>
        </div>
      </div>
      <div class="usa-width-one-third">
        <ul class="usa-unstyled-list press-links">
          <li>
            <a external-link href="https://techcrunch.com/2016/08/08/the-white-house-just-released-the-federal-source-code-policy-to-help-government-agencies-go-open-source/">
              <img src="assets/img/logos/press/techcrunch.png" alt="TechCrunch">
            </a>
          </li>
          <li>
            <a external-link href="http://www.pcmag.com/news/346860/white-house-releases-open-source-software-policy">
              <img src="assets/img/logos/press/pcmag.png" alt="PC Mag">
            </a>
          </li>
          <li>
            <a external-link href="https://fcw.com/articles/2016/08/08/open-source-rockwell.aspx">
              <img src="assets/img/logos/press/fcw.jpg" alt="FCW">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<modal></modal>
