<div class="search-input" [ngClass]="{'with-icon': withIcon}" #searchInput>
  <i class="fa fa-search" aria-hidden="true"></i>
  <input
      #query
      [name]="name"
      title="Search Code.gov"
      type="text"
      required
      class="form-control"
      [ngModel]="queryValue"
      (ngModelChange)="change($event)"
      (focus)="showAutocomplete()"
      (keyup)="onKey($event)"
      [placeholder]="placeholder"
      autocomplete="off" />
  <div *ngIf="hasQuery() && autocompleteVisible" class="autocomplete-container">
    <autocomplete
        [termResultsObservable]="termResultsObservable"
        (onSuggestionSelected)="handleSuggestionSelected($event)">
    </autocomplete>
  </div>
</div>
