<div class="search-input-wrapper" #searchInput>
  <div *ngIf="description" class="search-description-wrapper">
    <div [textContent]="description"></div>
  </div>
  <div class="search-input-and-button-wrapper">
    <input
        #query
        [name]="name"
        title="Search Code.gov"
        type="search"
        required
        class="form-control no-search-icon-on-mobile"
        [ngModel]="queryValue"
        (ngModelChange)="change($event)"
        (focus)="showAutocomplete()"
        (keyup)="onKey($event)"
        [placeholder]="placeholder"
        autocomplete="off" />
    <button class="go">Go</button>
  </div>
  <div *ngIf="hasQuery() && autocompleteVisible" class="autocomplete-container">
    <autocomplete
        [termResultsObservable]="termResultsObservable"
        (onSuggestionSelected)="handleSuggestionSelected($event)">
    </autocomplete>
  </div>
</div>
