@import '~@code.gov/code-gov-style/_sass/_variables';

.search-input-wrapper {
  position: relative;

  .autocomplete-container {
    display: none;
    position: absolute;
    top: 44px;
    width: 100%;

    @media screen and (min-width: $small-screen) {
      display: block;
    }
  }

  .search-description-wrapper {
    margin: 0 auto;
    width: 100%;

    @media screen and (min-width: $small-screen) {
      margin: 0 auto;
      width: 85%;
    }

    > div {
      text-align: left;
    }
  }

  input[type=search] {
    width: 100%;

    @media screen and (min-width: $small-screen) {
      width: 85%;
    }
  }

  .icon-search {
    color: black;
  }
}
