@import '../../../styles/base/all';


.with-icon i {
  display: block;
  font-size: 1.5em;
  left: 1rem;
  line-height: 45px;
  position: absolute;

  @media screen and (min-width: $small-screen) {
    line-height: 40px;
  }
}

i {
  display: none;
}

input {
  border-color: $color-gray-lighter;
  border-radius: 4px;
  font-size: 1.7rem;
  height: auto;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 1rem;
  width: 100%;
}

.with-icon input {
  padding-left: 4rem;
}

.search-input {
  position: relative;
}

.autocomplete-container {
  position: absolute;
  top: 44px;
  width: 100%;
}
