@import '../../../../styles/base/all';

.agencies-content {
  background-color: $color-white;
  padding: 2.5em 1.5em;

  @media screen and (min-width: $medium-screen) {
    @include grid-column(9);
  }

  @media screen and (min-width: $extra-large-screen) {
    padding: 2.5em 2em;
  }
}

.sidebar-agencies {
  position: relative;

  @media screen and (min-width: $medium-screen) {
    @include grid-column(3);
  }
}
