@import '../../../../styles/base/variables';
@import '../../../../styles/base/grid-settings';
@import '~bourbon/app/assets/stylesheets/bourbon';
@import '~bourbon-neat/app/assets/stylesheets/neat';

.sidebar-agencies {
  @media screen and (min-width: $medium-screen) {
    @include span-columns(3);
  }
}

.agencies-content {
  background-color: $color-white;
  padding: 2.5em 1.5em;

  @media screen and (min-width: $medium-screen) {
    @include span-columns(9);
  }

  @media screen and (min-width: $extra-large-screen) {
    padding: 2.5em 2em;
  }
}
