@import '../../../../styles/base/variables';
@import '../../../../styles/base/grid-settings';
@import '~bourbon/app/assets/stylesheets/bourbon';
@import '~bourbon-neat/app/assets/stylesheets/neat';
@import '~uswds/src/stylesheets/core/variables';


.agencies-breadcrumb {
  font-size: 0.8em;
  margin-bottom: 4rem;

  ul {
    li {
      display: inline-block;

      &::before {
        content: '> ';
      }

      &:first-of-type {
        &::before {
          content: '';
        }
      }

      a {
        color: $color-black;
      }

      &:last-child {
        font-weight: $font-bold;
      }
    }
  }
}

.sidebar-agencies {
  @media screen and (min-width: $medium-screen) {
    @include span-columns(3);
  }
}

.agencies-content {
  background-color: $color-white;
  padding: 2.5em 1.5em;

  @media screen and (min-width: $medium-screen) {
    @include span-columns(9);
  }

  @media screen and (min-width: $extra-large-screen) {
    padding: 2.5em 2em;
  }
}
