@import '~bourbon/app/assets/stylesheets/addons/font-stacks';
@import '~uswds/src/stylesheets/core/variables';

.agencies-banner {
  background: url('assets/img/american_flag_1920x1280_gradient.jpg');
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 2rem;
  padding-bottom: 8rem;
  padding-top: 8rem;
  text-align: center;

  h1 {
    color: $color-white;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}


