@import '../../../styles/base/all';

h1 {
  text-align: center;
}

.content-col {
  @include media($medium-screen) {
    @include span-columns(9);
  }
}

.explore-code-content {
  background-color: lighten($color-gray-lightest, 2);
  padding: 0.75em 0 3em;

  @include media($medium-screen) {
    padding: 2em 0 3em;
  }
}

.explore-code-nav {
  background-color: darken($color-gray-lightest, 5);
  padding: 0.5em 0;
}
