@import '~bourbon/app/assets/stylesheets/addons/font-stacks';
@import '~uswds/src/stylesheets/core/variables';

.privacy-content {
  li {
    color: $color-gray;
    font-size: 1.1em;
  }
}

.usa-grid {
  padding-bottom: 6em;
  padding-top: 2em;
}
