@import '../../../styles/base/all';

.privacy-content {

  a {
    color: $brand-button-primary;

    &:hover {
      color: darken($color-primary, 10);
    }
  }

  li {
    color: $color-gray;
    font-size: 1.1em;
  }
}

.usa-grid {
  padding-bottom: 6em;
  padding-top: 2em;
}
