<div class="mobile-menu" [ngClass]="{open: isOpen}">
  <ul class="mobile-menu-items">
    <li class="mobile-menu-item">
      <form
          class="search-form"
          (ngSubmit)="search()">
        <search-input
            name="searchQuery"
            [(queryValue)]="searchQuery"
            ngDefaultControl
            description=""
        >
        </search-input>
      </form>
    </li>
    <li class="mobile-menu-item">
      <div [ngClass]="{open: openAccordions['/explore-code/agencies']}" (click)="toggleAccordion('/explore-code/agencies')">
        <a class="link">Browse Projects</a>
        <a class="expander"><i class="pull-right icon" [ngClass]="{'icon-down-open': !openAccordions['/explore-code/agencies'], 'icon-up-open': openAccordions['/explore-code/agencies']}"></i></a>
      </div>
      <ul class="mobile-menu-sub-items">
        <li class="mobile-menu-item">
          <a class="agency-link" routerLink="/explore-code/agencies/All" routerLinkActive="link--active" (click)="hideSideNav()">
            All
          </a>
        </li>
        <li *ngFor="let agency of agencies" class="mobile-menu-item">
          <a class="agency-link" routerLink="/explore-code/agencies/{{agency.acronym}}" routerLinkActive="link--active" (click)="hideSideNav()">
            {{agency.name}}
          </a>
        </li>
      </ul>
    </li>
    <li class="mobile-menu-item">
        <a class="link" routerLink="/help-wanted" routerLinkActive="link--active" (click)="hideSideNav()">Help Wanted</a>
    </li>
    <li class="mobile-menu-item">
      <div [ngClass]="{open: openAccordions['/policy-guide/docs']}" (click)="toggleAccordion('/policy-guide/docs')">
        <a class="link">Policy Info</a>
        <a class="expander"><i class="pull-right icon" [ngClass]="{'icon-down-open': !openAccordions['/policy-guide/docs'], 'icon-up-open': openAccordions['/policy-guide/docs']}"></i></a>
      </div>
      <ul class="mobile-menu-sub-items">
        <li class="mobile-menu-item">
          <div [ngClass]="{open: openAccordions['/policy-guide/docs/overview']}" (click)="toggleAccordion('/policy-guide/docs/overview')">
            <a class="link">Overview</a>
            <a class="expander"><i class="pull-right icon" [ngClass]="{'icon-down-open': !openAccordions['/policy-guide/docs/overview'], 'icon-up-open': openAccordions['/policy-guide/docs/overview']}"></i></a>
          </div>
          <ul class="mobile-menu-sub-items">
            <li class="mobile-menu-item">
              <a class="link" routerLink="/policy-guide/docs/overview/introduction" routerLinkActive="link--active" (click)="hideSideNav()">
                Introduction
              </a>
            </li>
            <li class="mobile-menu-item">
              <a class="link" routerLink="/policy-guide/docs/overview/tracking-progress" routerLinkActive="link--active" (click)="hideSideNav()">
                Tracking Progress
              </a>
            </li>
          </ul>
        </li>
        <li class="mobile-menu-item">
          <div [ngClass]="{open: openAccordions['/policy-guide/docs/compliance']}" (click)="toggleAccordion('/policy-guide/docs/compliance')">
            <a class="link">Compliance</a>
            <a class="expander"><i class="pull-right icon" [ngClass]="{'icon-down-open': !openAccordions['/policy-guide/docs/compliance'], 'icon-up-open': openAccordions['/policy-guide/docs/compliance']}"></i></a>
          </div>
          <ul class="mobile-menu-sub-items">
            <li class="mobile-menu-item">
              <a class="link" routerLink="/policy-guide/docs/compliance/dashboard" routerLinkActive="link--active" (click)="hideSideNav()">
                Agency Compliance
              </a>
            </li>
            <li class="mobile-menu-item">
              <a class="link" routerLink="/policy-guide/docs/compliance/procurement" routerLinkActive="link--active" (click)="hideSideNav()">
                How to Procure Software
              </a>
            </li>
            <li class="mobile-menu-item">
              <a class="link" routerLink="/policy-guide/docs/compliance/inventory-code" routerLinkActive="link--active" (click)="hideSideNav()">
                How to Inventory Code
              </a>
            </li>
          </ul>
        </li>
        <li class="mobile-menu-item">
          <div [ngClass]="{open: openAccordions['/policy-guide/docs/open-source']}" (click)="toggleAccordion('/policy-guide/docs/open-source')">
            <a class="link">Open Source Pilot</a>
            <a class="expander"><i class="pull-right icon" [ngClass]="{'icon-down-open': !openAccordions['/policy-guide/docs/open-source'], 'icon-up-open': openAccordions['/policy-guide/docs/open-source']}"></i></a>
          </div>
          <ul class="mobile-menu-sub-items">
            <li class="mobile-menu-item">
              <a class="link" routerLink="/policy-guide/docs/open-source/introduction" routerLinkActive="link--active" (click)="hideSideNav()">
                Introduction
              </a>
            </li>
            <li class="mobile-menu-item">
              <a class="link" routerLink="/policy-guide/docs/open-source/resources" routerLinkActive="link--active" (click)="hideSideNav()">
                Tools and Resources
              </a>
            </li>
            <li class="mobile-menu-item">
              <a class="link" routerLink="/policy-guide/docs/open-source/measuring-code" routerLinkActive="link--active" (click)="hideSideNav()">
                How to Measure Code
              </a>
            </li>
            <li class="mobile-menu-item"> <!-- todo -->
              <a class="link" routerLink="/policy-guide/docs/open-source/licensing" routerLinkActive="link--active" (click)="hideSideNav()">
                Licensing
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <!-- <li class="mobile-menu-item">
        <a class="link" routerLink="/faqs" routerLinkActive="link--active" (click)="hideSideNav()">FAQ</a>
    </li> -->
    <li class="mobile-menu-item">
        <a class="link" routerLink="/roadmap" routerLinkActive="link--active" (click)="hideSideNav()">Roadmap</a>
    </li>
  </ul>
</div>
<div class="mobile-menu-underlay" [ngClass]="{'active': isOpen}" (click)="hideSideNav()"></div>
