<section *ngIf="repo" class="repo-container">
  <header>
      <div class="repo-breadcrumb">
          <ul class="usa-unstyled-list">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/explore-code/agencies/{{ repo.agency.name }}">{{ repo.agency.name }}</a></li>
            <li>{{ repo.name }}</li>
          </ul>
        </div>
    <div class="repo-header-container">
      <h3>
        <a routerLink="/explore-code/agencies/{{repo.agency.id}}">
          {{ repo.agency.name }}
        </a>
      </h3>
      <h1>{{ repo.name }}</h1>
      <p *ngIf="repo.description | isdefined">{{ repo.description }}</p>
    </div>
    <div *ngIf="repo.permissions.usageType === 'openSource'" class="repo-actions">
      <ul class="usa-unstyled-list">
        <li *ngIf="repo.homepageURL | isdefined">
          <a external-link class="usa-button button button--secondary" href="{{repo.homepageURL}}">
            Homepage
          </a>
        </li>
        <li>
          <a *ngIf="getRepositoryUrl() | isdefined" external-link class="usa-button button button--secondary" href="{{ getRepositoryUrl() }}">
            Visit Repo
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="repo.permissions.usageType === 'governmentWideReuse'" class="repo-actions">
      <ul class="usa-unstyled-list">
        <li *ngIf="repo.homepageURL | isdefined">
          <a external-link class="usa-button button button--secondary" href="{{repo.homepageURL}}">
            Homepage
          </a>
        </li>
        <li *ngIf="repo.contact.email | isdefined">
          <a external-link class="usa-button button button--secondary" href="mailto:{{ repo.contact.email }}">
            Contact Agency
          </a>
        </li>
      </ul>
    </div>
  </header>

  <div class="repo-content">

    <div *ngIf="repo.permissions.usageType === 'openSource'" class="repo-features>">
      <h2>Highlights</h2>
      <ul class="usa-unstyled-list repo-features-list">
        <li class="card repo-language usa-width-one-half">
          <div *ngIf="(repo.languages | isdefined) && (repo.languages[0] | isdefined); then codeLanguageBlock else noCodeLanguageBlock"></div>
          <ng-template #codeLanguageBlock>
            <div class="card__icon">
            </div>
            <div class="card__body">
              <h3>Language</h3>
              <p>
                This repo is built in
                <span *ngFor="let language of repo.languages" class="language">
                  {{ language }}.
                </span>
              </p>
              <i
                  class="icon devicons devicons-{{language | languageIcon }}"
                  *ngFor="let language of repo.languages">
              </i>
            </div>
          </ng-template>
          <ng-template #noCodeLanguageBlock>
            <div class="card__icon">
              <i class="icon fa fa-question"></i>
            </div>
            <div class="card__body">
              <h3>Language</h3>
              <p>
                We’re not sure what this repo is built in. Try making a pull
                request that updates this repo’s <code>code.json</code> file.
              </p>
            </div>
          </ng-template>
        </li>
        <li class="card repo-license usa-width-one-half">
          <div *ngIf="(repo.permissions | isdefined) && (repo.permissions.licenses | isdefined) && (repo.permissions.licenses[0] | isdefined) && (repo.permissions.licenses[0].name | isdefined); then licenseBlock else noLicenseBlock"></div>
          <ng-template #licenseBlock>
            <div class="card__icon">

            </div>
            <div class="card__body">
              <h3>License</h3>
              <p>
                This repo uses the
                <a external-link href="{{repo.permissions.licenses[0].URL}}">
                  {{repo.permissions.licenses[0].name}} license.
                </a>
              </p>
            </div>
          </ng-template>
          <ng-template #noLicenseBlock>
            <div class="card__icon">
              <i class="icon fa fa-question"></i>
            </div>
            <div class="card__body">
              <h3>License</h3>
              <p>
                We’re not sure what license this repo has. Try making a pull
                request that updates this repo’s <code>code.json</code> file.
              </p>
            </div>
          </ng-template>

        </li>
      </ul>
    </div>

     <div *ngIf="repo.permissions.usageType === 'openSource' && repo.events && repo.events.length" class="activity-container">
      <h2>Activity</h2>
      <ul class="usa-unstyled-list">
        <activity-list  *ngIf="repo" [eventRepo]="repo"></activity-list>
      </ul>
    </div>
  </div>
</section>
<modal></modal>
