<div class="repo-general">
<section *ngIf="repo" class="repo-container indented">
    <div class="repo-breadcrumb">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/explore-code/agencies/{{repo.agency.acronym}}">{{repo.agency.acronym}}</a></li>
          <li>{{repo.name}}</li>
        </ul>
      </div>
    <header>
      <div class="repo-header-container">
        <h2>{{ repo.name }}</h2>
        <span *ngIf="repo.date?.metadataLastUpdated" class="updated">
          <div>Last updated on {{repo.date.metadataLastUpdated | date: "MM/dd/yy"}}</div>
        </span>
        <span *ngFor="let tag of repo.tags">
          <button *ngIf="tag"
            [routerLink]="['/search']"
            [queryParams]="{ q: tag }"
            class="repo-tag">
            {{ tag }}
          </button>
        </span>
        <ul class="repo-features">
            <li>
              <span *ngIf="repo.permissions?.usageType === 'openSource'"><i class="icon fa fa-check-circle-o"></i>Open Source</span>
              <span *ngIf="repo.permissions?.usageType === 'governmentWideReuse'"><i class="icon fa fa-refresh"></i>Government-Wide Reuse</span>
            </li>
            <span *ngIf="repo.permissions?.licenses && repo.permissions?.licenses?.length > 0 && repo.permissions?.licenses[0]?.name">
              <li>
                <i class="icon fa fa-certificate"></i>
                <span>{{ repo.permissions?.licenses[0]?.name }}</span>
              </li>
            </span>
            <span *ngIf="repo.contact.laborHours > 0">
              <li>
                <i class="icon fa fa-hourglass-end"></i>
                {{repo.contact.laborHours}} hours
              </li>
            </span>
            <span *ngIf="repo.languages?.length > 0">
              <li>
                <i class="icon fa fa-code"></i>
                <span *ngFor="let language of repo.languages; let last=last" class="language"
                  [ngClass]="{last: last}">
                  {{ language }}<span class="comma">,</span>
                </span>
              </li>
            </span>
            <!-- <li>
                <i class="icon fa fa-user"></i>
                <span>23 people use this</span>
            </li> -->
            <span *ngIf="repo.contact?.email | isdefined">
              <li>
                <i class="icon fa fa-envelope-o"></i>
                {{repo.contact.email}}
              </li>
          </span>

          </ul>
        <p>{{repo.description}}</p>
        <br>
        <a *ngIf="getRepositoryUrl() | isdefined" href="{{ getRepositoryUrl() }}">
          <button class="button">Visit Repo</button>
        </a>
      </div>
    </header>

  </section>
  <modal></modal>
