@import '~@code.gov/code-gov-style/_sass/_variables';


.repo-general {
  h2 {
    font-size: 3.5rem;
    margin: 0;
    color: $color-gray-dark;
  }
  a {
    color: $brand-teal-dark;
    text-decoration: underline;

    &:hover {
      color: $brand-teal;
    }
  }
  button {
    margin-left: 0;
  }
}

.repo-container {

  code {
    background-color: $brand-blue-gray;
    border-radius: 3px;
    color: $color-gray-second-lightest;
    font-size: 0.9em;
    padding: 2px 3px;
  }

  header {
    @include clearfix;
    margin-bottom: 1em;
    padding-bottom: 1em;
    position: relative;
  }
  .updated {
    font-size: 1.5rem;
    color: $color-gray;
  }
}

.repo-actions {

  li {
    display: inline-block;
  }
}

.repo-features {
  margin: 1rem 0;
  padding: .5rem;
  width: 100%;
  border-bottom: 1px lightgray solid;

  li,span.li {
    display: inline;
    color: $brand-blue-dark;
    padding: .7rem;
    margin-right: 0.75em;
    i {
      margin-right: 0.2em;
    }
  }
}

.repo-header-container {

  h1 {
    margin: 0 0 0.25em;
  }

  h3 {
    font-weight: normal;
    margin: 0;

    a {
      color: $color-gray;
      font-size: 0.95em;
      text-decoration: none;

      &:hover {
        border-bottom: 3px solid $brand-teal-dark;
        color: $color-gray-dark;
      }
    }
  }

  p {
    font-size: 1em;
    margin: 0;
  }
}

.icon {
  color: $brand-blue;
}


.language.last {
  .comma {
    display: none;
  }
}

.metadata-entry {
  margin-top: 15px;
  margin-bottom: 15px;

  .metadata-key {
    display: block;
    font-weight: bold;

    @media screen and (min-width: $medium-screen) {
      display: inline-block;
      width: 200px;
      vertical-align: top;
    }
  }

  .metadata-value {
    color: $color-gray;
    display: block;

    @media screen and (min-width: $medium-screen) {
      display: inline-block;
      max-width: calc(100% - 300px);
    }
  }
}
