@import '~@code.gov/code-gov-style/_sass/_variables';

/* overarching page styles */
.roadmap-general {
  h3,
  p {
    color: $color-gray-dark;
  }
  a {
    color: $brand-teal-dark;
    text-decoration: underline;

    &:hover {
      color: $brand-teal;
    }
  }
}

/* roadmap overview section of page */

.roadmap-overview {
  padding: 0rem 3rem 3rem 3rem;

}

/* roadmap table section of page */
.roadmap-table {

  table {
    margin: .25rem auto .1rem;
  }

  tbody tr {
    background-color: $color-white;
  }
}

/* roadmap { title } table section of page */
.roadmap-table-title {

  h3
  {
    color: $color-gray-dark;
    padding: 0rem 0rem 2rem;
  }
}

/* legend under roadmap table */
.roadmap-legend {

  table {
    border: none;
    width: 100%;
  }

  td {
    color: $color-gray-dark;
    border: none;
    width: 10%;
  }

  td.widerow {
    border: none;
    padding-left: 1%;
    width: 90%;
  }

  td.pull-down {
    padding-bottom: 0%;
    padding-top: 8%;
  }

  td.push-up {
    padding-top: 2%;
  }

}

/* font awesome graphics for the table */
.icon.icon-ok {
  color: $color-green-light;
}

.icon.icon-circle {
  color: $color-gold-light;
}


/* disclaimer section of page */
.roadmap-disclaimer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
