<div class="block block--light l-block--medium tools">
  <div class="indented">
    <sidebar>
      <sidebar-menu-text>Tools</sidebar-menu-text>
      <sidebar-title>Tools</sidebar-title>
      <sidebar-content>
        <li>
          <a toggle-menu routerLink="/tools/schema-validator" routerLinkActive="current">Schema Validator</a>
        </li>
        <li>
          <a toggle-menu routerLink="/tools/upgrade-schema" routerLinkActive="current">Upgrade Schema</a>
        </li>
      </sidebar-content>
    </sidebar>

    <div class="tool">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
