.autocomplete-result {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  text-transform: none;

  &::after {
    clear: both;
    content: "";
    display: table;
  }

  &:hover {
    background-color: lighten(#1c4772, 40);
  }
}

.icon {
  float: left;
  height: 2em;
  margin-right: 0.5em;
  width: 2em;

  img {
    height: auto;
    width: 100%;
  }
}

.info {
  line-height: 3em;
  overflow: hidden;
  vertical-align: center;

  p {
    color: #323a45;
    font-size: 0.9em;
    margin: 0;
  }
}
