<nav class="policy-guide-nav">
  <div class="usa-grid">
    <ul class="usa-unstyled-list">
      <li>
        <a routerLink="docs/overview/introduction" routerLinkActive="active">
          Docs
        </a>
      </li>
      <li>
        <a routerLink="./">
          Read the Policy
        </a>
      </li>
      <li>
        <a routerLink="./">
          FAQs
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="policy-guide-content">
  <div class="usa-grid">
    <router-outlet></router-outlet>
  </div>
</div>
