<div class="card focusable">
  <a [href]="item.issueURL ? item.issueURL : item.projectURL" class="card-title" target="_blank">{{ item.title }}</a>
  <p class="card-description">{{ item.description | truncate : 250}}</p>

  <dl *ngIf="!mobile">

    <!-- <div *ngIf="item.projectURL">
      <dt>Project Name: </dt>
      <dd><a [href]="item.projectURL" *ngIf="item.projectURL" target="_blank">project name</a></dd>
    </div> -->

    <div *ngIf="item?.agency_id">
      <dt>Agency: 
      <dd><a [routerLink]="['/browse-projects']" [queryParams]="{agencies:item?.agency_id}">{{item?.agency_id}}</a></dd>
    </div>

    <div *ngIf="item?.updated">
      <dt>Last updated: 
      <dd>{{item?.updated | date: "MMM d 'at' h':'mm a"}}</dd>
    </div>

    <hr>

    <div *ngIf="item.languages">
      <dt>Language:</dt>
      <dd>{{ item.languages.join(', ') }}</dd>
    </div>

    <div *ngIf="item.type">
        <dt>Type:</dt>
        <dd>{{ item.type | capitalize }}</dd>
      </div>

    <div *ngIf="item.skill">
      <dt>Skill Level:</dt>
      <dd>{{ item.skill | capitalize }}</dd>
    </div>

    <div *ngIf="item.effort">
      <dt>Effort:</dt>
      <dd>{{ item.effort }}</dd>
    </div>

  </dl>
</div>
