<div class="card focusable">
  <a [href]="item.issueURL ? item.issueURL : item.projectURL" class="card-title" target="_blank">{{ item.title }}</a>
  <div class="card-date">Last updated {{ item.updated | date: "MMM d 'at' h':'mm a"}}</div>
  <p class="card-description">{{ item.description | truncate : 250}}</p>
  <dl *ngIf="!mobile">
    <div *ngIf="item.languages">
      <dt>Language:</dt>
      <dd>{{ item.languages.join(', ') }}</dd>
    </div>

    <div *ngIf="item.skill">
      <dt>Skill Level:</dt>
      <dd>{{ item.skill | capitalize }}</dd>
    </div>

    <div *ngIf="item.effort">
      <dt>Effort:</dt>
      <dd>{{ item.effort }}</dd>
    </div>

    <div *ngIf="item.impact">
      <dt>Impact:</dt>
      <dd>{{ item.impact | capitalize }}</dd>
    </div>

  </dl>
  <div class="help-wanted-card-actions">
    <a [href]="item.projectURL" *ngIf="item.projectURL" target="_blank"><button class="dark">Project Details</button></a>
    <a [href]="item.issueURL" *ngIf="item.issueURL" target="_blank"><button class="dark">Start Now</button></a>
  </div>
  <div class="agency-details">
    <img alt="" [src]="item.image" *ngIf="item.image"/>
    <span
      *ngIf="item?.agency_id"
      class="help-wanted-agency-name"
    >{{item?.agency_id}}</span>
  </div>
</div>
