@import '~@code.gov/code-gov-style/_sass/_variables';

.card {

  hr {
    visibility: hidden;
    display: none;

    @media screen and (min-width: $medium-screen) {
      border-top: 1px solid $color-gray-light;
      display: block;
      margin-left: -1em;
      margin-right: -1.1em;
      margin-top: 2rem;
      max-width: none;
      visibility: visible;
      width: auto;
    }
  }

  dl {
    margin-bottom: 0.25rem;
    padding: 0.75rem 0rem;

    > div {
      display: inline-block;
      line-height: 1.1;
      margin-left: 1rem;
      text-indent: -1rem;

      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }
  }

  dd, dt {
    display: inline;
    font-size: .85714286em; 
    margin: 0;
  }

  dt {
    font-weight: bold;
  }

  .agency-details {
    padding: 10px 0px 0px 0px;
    img {
      height: 25px;
      vertical-align: bottom;
      max-width: 100px;
    }
    .help-wanted-agency-name {
        color: $color-gray-light;
    }
  }

  .help-wanted-card-description {
    word-wrap: break-word;
  }

  .help-wanted-card-actions {
    a {
      button {
        margin-bottom: 0;
        width: fit-content;
        font-weight: 700;

        &:last-of-type {
          margin-right: 0
        }
      }
    }
  }

}
