%card {
  background-color: $color-white;
  border: 1px solid darken($color-gray-lightest, 3);
  box-sizing: border-box;
  padding: 0.5em;

  @media screen and (min-width: $medium-screen) {
    padding: 1em;
  }
}
