@import '~bourbon/app/assets/stylesheets/addons/font-stacks';
@import '~uswds/src/stylesheets/core/variables';

.monaco-editor {
  border: 1px solid $color-gray-lighter;
  height: 480px;
  margin-bottom: 1rem;
  max-width: 100%;
}
