@import '~bourbon/app/assets/stylesheets/bourbon';
@import '~bourbon-neat/app/assets/stylesheets/neat';
@import '~uswds/src/stylesheets/core/variables';
@import '../../../styles/base/variables';

/* overarching page styles */
.faq-general {
  h3,
  p, {
    color: $color-gray-dark;
  }
  a {
    color: $brand-teal-dark;
    text-decoration: underline;

    &:hover {
      color: $brand-teal;
    }
  }
}


//breadcrumb
.faq-breadcrumb {
  font-size: 0.8em;
  margin-bottom: 4rem;
  ul {
    li {
      display: inline-block;
      &::before {
        content: '> ';
      }
      &:first-of-type {
        &::before {
          content: '';
        }
      }
      a {
        color: $color-black;
      }
      &:last-child {
        font-weight: $font-bold;
      }
    }
  }
}

/* faq overview section of page */
.faq-overview {
  h2 {
    font-weight: 700;
    text-align: center;
  }
  padding: 0rem 3rem 3rem 3rem;
}

//general content
.general-content {
  h3 {
    font-weight: 700;
  }
  padding: 3rem 3rem 3rem 3rem;
  li {
    color: $color-gray-dark;
  }
}
