<div class="roadmap-general">

  <div class="roadmap-banner">
    <h1>Roadmap</h1>
  </div>

  <div class="roadmap-breadcrumb usa-grid">
    <ul class="usa-unstyled-list">
      <li><a routerLink="/">Home</a></li>
      <li>Roadmap</li>
    </ul>
  </div>

  <div class="usa-grid roadmap-overview">
    <h3>Overview</h3>
    <p>At Code.gov, we know it’s important to keep an open dialogue with our users. That’s why we’re sharing our plans for the future through this Development Roadmap. Hopefully, it will help you better understand our priorities for the platform.</p>

    <p>The Development Roadmap is organized into three categories – Near-term, Mid-term, and Long-term. Priorities are sorted into roadmap categories based on feedback we receive during user interviews. Dependencies and resources are also factors that affect placement on the roadmap. If you want to join the Code.gov user testing group, please email us at <a href="mailto:code@gsa.gov">Code@gsa.gov</a>.</p>
  </div>

  <div class="usa-grid roadmap-table-title">
    <h3>Roadmap</h3>
  </div>

  <div class="usa-grid roadmap-table">
    <div class="usa-width-one-third">
      <table>
        <thead>
          <tr>
            <th colspan="2">Near-term</th>
          </tr>
        </thead>
          <tbody>
            <tr>
              <td class="graphic-cell"><i class="fa fa-check" aria-hidden="true"></i></td>
              <td class="widerow text-cell">Search results</td>
            </tr>
            <tr>
              <td class="graphic-cell"></td>
              <td class="widerow text-cell">Project details</td>
            </tr>
            <tr>
              <td class="graphic-cell"><i class="fa fa-circle" aria-hidden="true"></i></td>
              <td class="widerow text-cell">Help wanted</td>
            </tr>
            <tr>
                <td class="graphic-cell"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td class="widerow text-cell">Roadmap on site</td>
            </tr>
            <tr>
                <td class="graphic-cell"><i class="fa fa-circle" aria-hidden="true"></i></td>
                <td class="widerow text-cell">Enhanced compliance dashboard</td>
            </tr>
            <tr>
                <td class="graphic-cell"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td class="widerow text-cell">Increased agency participation</td>
            </tr>
            <tr>
                <td class="graphic-cell-last"><i class="fa fa-circle" aria-hidden="true"></i></td>
                <td class="widerow text-cell-last">Metadata schema 1.0 & 1.0.1 deprecation</td>
            </tr>
        </tbody>
      </table>
    </div>

    <div class="usa-width-one-third">
      <table>
        <thead>
          <tr>
            <th colspan="2">Mid-term</th>
          </tr>
        </thead>
          <tbody>
            <tr>
              <td class="graphic-cell"></td>
              <td class="widerow text-cell">Agency pages</td>
            </tr>
            <tr>
              <td class="graphic-cell"></td>
              <td class="widerow text-cell">Medium skin</td>
            </tr>
            <tr>
              <td class="graphic-cell"><i class="fa fa-circle" aria-hidden="true"></i></td>
              <td class="widerow text-cell">FAQs page</td>
            </tr>
            <tr>
                <td class="graphic-cell"></td>
                <td class="widerow text-cell">Admin tool</td>
            </tr>
            <tr>
                <td class="graphic-cell-last"></td>
                <td class="widerow text-cell-last">Enhanced tools and resources</td>
            </tr>
        </tbody>
      </table>
    </div>

    <div class="usa-width-one-third">
      <table>
        <thead>
          <tr>
            <th colspan="2">Long-term</th>
          </tr>
        </thead>
          <tbody>
            <tr>
              <td class="graphic-cell"></td>
              <td class="widerow text-cell">User accounts</td>
            </tr>
            <tr>
              <td class="graphic-cell-last"></td>
              <td class="widerow text-cell-last">Gamification</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="usa-grid roadmap-legend">
    <div class="usa-width-one-third">
      <table>
        <thead></thead>
          <tbody>
            <tr>
              <td class="pull-down"><i class="fa fa-check" aria-hidden="true"></i></td>
              <td class="widerow pull-down">Released</td>
            </tr>
            <tr>
              <td class="push-up"><i class="fa fa-circle" aria-hidden="true"></i></td>
              <td class="widerow push-up">In Progress</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="usa-grid roadmap-disclaimer">
    <h3>Disclaimer</h3>
    <p>This Development Roadmap (Roadmap) is for informational purposes only. The Code.gov team will update the Roadmap as frequently as possible but, given that it’s subject to change at any time, the information presented by the Roadmap should not be used for planning purposes. The information presented in the Roadmap does not represent a solicitation or similar contract vehicle. All items in the Roadmap will be developed and released at the sole discretion of Code.gov, the General Services Agency, the Office of Management and Budget, and the United States Federal Government.</p>
  </div>
</div>
