<div class="faq-general">

  <div class="faq-banner">
    <h1>FAQ/Tools</h1>
  </div>

  <div class="faq-breadcrumb usa-grid">
    <ul class="usa-unstyled-list">
      <li><a routerLink="/">Home</a></li>
      <li>FAQ/Tools</li>
    </ul>
  </div>

  <div class="usa-grid faq-overview">
    <div class="usa-width-one-whole">
    <h2>FAQ</h2>
    </div>
  </div>

  <div class="usa-grid general-content">
    <div class="usa-width-one-half">
      <h3>Federal Source Code Policy</h3>
      <p><a href="#">What does the Federal Source Code Policy state in a nutshell?</a></p>
      <p><a href="#">How long is the pilot? What happens after the pilot</a></p>
      <p><a href="#">How do agencies define custom code?</a></p>
      <p><a href="#">How do agencies count 20% of code?</a></p>
      <p><a href="#">What is reuse?</a></p>
      <p><a href="#">Which agencies are beholden to the Federal Source Code Policy?</a></p>
      <p><a href="#">Why don't all agencies participate?</a></p>
      <p><a href="#">What does exempt mean?</a></p>

      <h3>Open Source Software</h3>
      <p><a href="#">What is sharing? How is it different from Open Source?</a></p>
      <p><a href="#">Is federal open source software free software?</a></p>
      <p><a href="#">How can you ensure the security of federal government's infrastructure?</a></p>

      <h3>Non-Government Employees</h3>
      <p><a href="#">I am a contractor, can I use OSS found on Code.gov in the project I am building for the Federal Government?</a></p>
      <p><a href="#">How can I contribute to federal open source software?</a></p>
    </div>

    <div class="usa-width-one-half">
      <h3>Code.gov</h3>
      <p><a href="#">What is Code.gov?</a></p>
      <p><a href="#">Is Code.gov a version control repository?</a></p>
      <p><a href="#">What tools are available on Code.gov</a></p>

    <h3>Government Employees</h3>
      <p><a href="#">How do I set up a code.json file for my agency?</a></p>
      <p><a href="#">Where can I check to see if my agency is in compliance with the Federal Source Code Policy?</a></p>
      <p><a href="#">Who can I talk to for assistance?</a></p>
    </div>
  </div>

</div>
