@import '~bourbon/app/assets/stylesheets/bourbon';
@import '~bourbon-neat/app/assets/stylesheets/neat';
@import '~uswds/src/stylesheets/core/variables';

.menu-icon {
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  position: relative;
  width: 18px;

  @media screen and (min-width: $medium-screen) {
    display: none;
  }

  .line {
    transform: rotate(0deg);
    transition: 0.2s ease-in-out;
    background: $color-white;
    border-radius: 3px;
    display: block;
    height: 2px;
    left: 0;
    opacity: 1;
    position: absolute;
    width: 100%;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 6px;
    }

    &:nth-child(4) {
      top: 12px;
    }
  }
}

.menu-text {
  color: $color-white;
  display: inline-block;
  margin-left: 0.2em;
  vertical-align: top;
}

.mobile-submenu {
  font-size: 0.95em;
  margin-bottom: 1.25em;
  padding: 0.75em 0.5em 0.65em;
  width: auto;

  @media screen and (min-width: $medium-screen) {
    display: none;
  }
}


.active {

  .menu-icon {

    .line {

      &:nth-child(1) {
        left: 50%;
        top: 6px;
        width: 0%;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        left: 50%;
        top: 6px;
        width: 0%;
      }
    }
  }

  .sidebar-list {
    display: block;
  }
}

.sidebar-list {
  background-color: $color-gray-lighter;
  display: none;
  margin-bottom: 2em;
  padding: 1em;
  position: relative;

  &::before {
    border-bottom: 10px solid $color-gray-lighter;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    height: 0;
    left: 1em;
    position: absolute;
    top: -10px;
    width: 0;

    @media screen and (min-width: $medium-screen) {
      display: none;
    }
  }

  @media screen and (min-width: $medium-screen) {
    background-color: transparent;
    display: block;
    margin-bottom: 0;
    padding: 0;
  }

  img {
    left: 0.5em;
    max-width: 1.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  li {
    border-top: 1px solid darken($color-gray-lighter, 5);
    font-size: 0.9em;
    margin-bottom: 0;
    position: relative;

    &:first-child {
      border-top: 0;
    }
  }

  span {
    display: inline-block;
    margin-left: 1.75em;
  }
}

.sidebar {
  position: relative;

  &.active {
    .usa-sidenav-list {
      display: block;
    }

    .menu-icon {
      .line {
        &:nth-child(1) {
          left: 50%;
          top: 6px;
          width: 0%;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          left: 50%;
          top: 6px;
          width: 0%;
        }
      }
    }
  }

  .mobile-submenu {
    font-size: 0.95em;
    margin-bottom: 1.25em;
    padding: 0.75em 0.5em 0.65em;
    width: auto;

    @media screen and (min-width: $medium-screen) {
      display: none;
    }
  }

  a {
    font-size: 0.95em;
    text-decoration: none;

    &:focus {
      box-shadow: none;
      outline: 0;
    }
  }

  li {
    font-size: 1em;
  }

  .usa-current {
    .usa-sidenav-sub_list {
      display: block;
    }
  }

  .usa-sidenav-sub_list {
    display: none;
  }
}

.sidebar__title {
  display: none;

  @media screen and (min-width: $medium-screen) {
    display: block;
  }
}
