@import '~bourbon/app/assets/stylesheets/addons/font-stacks';
@import '~uswds/src/stylesheets/core/variables';

.hero-header {
    background: url('assets/img/american_flag_1920x1280_gradient.jpg');
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 2rem;
    padding-bottom: 8rem;
    padding-top: 8rem;
    text-align: center;

    h1 {
      font-size: 4rem;
      margin-top: 0;
      color: $color-white;
    }
  }