@import '../../../../../styles/base/all';

h3 {
  display: none;

  @include media($medium-screen) {
    display: block;
  }
}

.menu-icon {
  @include transform(rotate(0deg));
  @include transition(0.3s ease-in-out);
  cursor: pointer;
  display: inline-block;
  height: 16px;
  position: relative;
  width: 18px;

  @include media($medium-screen) {
    display: none;
  }

  .line {
    @include transform(rotate(0deg));
    @include transition(0.2s ease-in-out);
    background: lighten($color-white, 5);
    border-radius: 3px;
    display: block;
    height: 2px;
    left: 0;
    opacity: 1;
    position: absolute;
    width: 100%;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 6px;
    }

    &:nth-child(4) {
      top: 12px;
    }
  }
}

.menu-text {
  display: inline-block;
  margin-left: 0.2em;
  vertical-align: top;
}

.mobile-submenu {
  font-size: 0.95em;
  margin-bottom: 1.25em;
  padding: 0.75em 0.5em 0.65em;
  width: auto;

  @include media($medium-screen) {
    display: none;
  }
}


.active {

  .menu-icon {

    .line {

      &:nth-child(1) {
        left: 50%;
        top: 6px;
        width: 0%;
      }

      &:nth-child(2) {
        @include transform(rotate(45deg));
      }

      &:nth-child(3) {
        @include transform(rotate(-45deg));
      }

      &:nth-child(4) {
        left: 50%;
        top: 6px;
        width: 0%;
      }
    }
  }

  .sidebar-agencies-list {
    display: block;
  }
}

.sidebar-agencies-list {
  background-color: lighten($color-gray-light, 20);
  display: none;
  margin-bottom: 2em;
  padding: 1em;
  position: relative;

  &::before {
    border-bottom: 10px solid lighten($color-gray-light, 20);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    height: 0;
    left: 1em;
    position: absolute;
    top: -10px;
    width: 0;

    @include media($medium-screen) {
      display: none;
    }
  }

  @include media($medium-screen) {
    background-color: transparent;
    display: block;
    margin-bottom: 0;
    padding: 0;
  }

  img {
    left: 0.5em;
    max-width: 1.5em;
    position: absolute;
  }

  li {
    border-top: 1px solid lighten($color-gray-light, 13);
    font-size: 0.9em;
    position: relative;

    &:first-child {
      border-top: 0;
    }
  }

  span {
    display: inline-block;
    margin-left: 1.75em;
  }
}
