<div class="shared-layout">
  <header class="block block--white">
    <header-navigation></header-navigation>
  </header>

  <mobile-menu></mobile-menu>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer class="app-footer block l-block--medium" role="contentinfo">
    <div class="usa-grid">
      <div>
        <nav class="footer-links">
          <ul class="usa-unstyled-list">
            <li>
              <a class="link" routerLink="privacy-policy">Privacy Policy</a>
            </li>
            <li>
              <a
                  class="link"
                  href="https://github.com/presidential-innovation-fellows/code-gov-web"
                  target="_blank"
                  rel="noopener">
                Visit Project Page
              </a>
            </li>
            <li>
              <a class="link" href="https://bit.ly/2pnRlYN" rel="noopener">Join Mailing List</a>
            </li>
          </ul>
        </nav>
      </div>
      <div>
        <ul class="agency-logos usa-unstyled-list">
          <li class="whitehouse">
            <a href="https://whitehouse.gov" target="_blank" rel="noopener">
              <img src="../../../../assets/img/logos/whitehouse.png" alt="The White House">
            </a>
          </li>
          <li class="pif">
            <a href="https://presidentialinnovationfellows.gov/" target="_blank" rel="noopener">
              <img src="../../../../assets/img/logos/PIF.png" alt="Presidential Innovation Fellows">
            </a>
          </li>
          <li class="gsa">
            <a href="//www.gsa.gov" target="_blank" rel="noopener">
              <img src="../../../../assets/img/logos/GSA.png" alt="General Services Administration">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
