<div *ngIf="hasRepos()" class="repos-container">
  <h4 class="repos-count">
    We found {{ total }} {{ "Repositories" | pluralize : reposTotal }}
  </h4>
  <ul class="repos-list usa-unstyled-list"
    infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()">
    <li *ngFor="let repo of repositories" class="repo">
     <repo-list-item [repo]="repo"></repo-list-item>
    </li>
  </ul>
  <button *ngIf="showLoadMore" (click)="loadMore()" class="load-more-button">
    Load More Repos
  </button>
</div>

<div *ngIf="!hasRepos()" class="no-repos">
  <h4>
    No repositories found.
  </h4>
</div>
