<div *ngIf="hasRepos" class="repos-container">
  <p class="repos-count">
    We found {{ reposTotal }} {{ "Repositories" | pluralize : reposTotal }}
  </p>
  <ul class="repos-list usa-unstyled-list"
    infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()">
    <li *ngFor="let repo of repos" class="repo">
     <repo-list-item [repo]="repo"></repo-list-item>
    </li>
  </ul>
  <button *ngIf="showLoadMore" (click)="loadMore()" class="load-more-button">
    Load More Repos
  </button>
</div>

<div *ngIf="!hasRepos" class="no-repos">
  <p>
    No repositories found.
  </p>
</div>
