<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Code.gov</title>
  <meta name="description" content="Code.gov is a platform designed to improve access to the federal government’s custom-developed software.">

  <meta property="og:image:url" content="assets/img/og.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="600">

  <meta property="twitter:image:src" content="assets/img/og.jpg">
  <meta property="twitter:image:width" content="1200">
  <meta property="twitter:image:height" content="600">

  <link rel="image_src" type="image/jpeg" href="assets/img/og.jpg">

  <link rel="stylesheet" href="assets/fonts.css">
  <link rel="stylesheet" href="assets/uswds.min.css">

  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en&unknown=polyfill"></script>

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

  <% if (htmlWebpackPlugin.options.metadata.gtmAuth != null) { %>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','<%=htmlWebpackPlugin.options.metadata.gtmId%>');
    </script>
  <% } %>
</head>

<body>
  <% if (htmlWebpackPlugin.options.metadata.gtmAuth != null) { %>
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M9L9Q5&gtm_auth=<%=htmlWebpackPlugin.options.metadata.gtmAuth%>" height="0" width="0" style="display:none;visibility:hidden">
      </iframe>
    </noscript>
  <% } %>

  <app>
    <div class="loading" style="background-color: #485568; bottom: 0; left: 0; position: fixed; right: 0; top: 0">
      <img alt="United States of America Flag" width="44px" height="30px" src="assets/img/flag.svg" style="left: 50%; margin: -15px 0 0 -22px; position: absolute; top: 50%;">
      <noscript>
        <div class="no-js-content" style="left: 50%; margin-left: -20em; width: 40em; position: absolute; text-align: center; top: 50%;">
          <h1 style="color: #ffffff; font-size: 1.5em">Looks like You Don’t Have Javascript Enabled</h1>
          <p style="color: #ffffff;">
            Code.gov is built on the latest web technology using Javascript. To
            use Code.gov, please enable Javascript so we can share all of the
            wonderful open source projects the Federal Government has to offer.
          </p>
        </div>
      </noscript>
    </div>
  </app>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
  <% } %>
  <script>
    var submitted=false;

    function showConfirmation(){
      var emailField  = document.getElementById('email');
      var confirmationEl = document.getElementById("confirmation");

      if(emailField.validity && !emailField.validity.valid) {
        confirmationEl.innerHTML='Please enter a valid email.';
      }
      else {
        submitted=true;
        confirmationEl.innerHTML='Thanks for joining the code.gov mailing list, ' + emailField.value + '!';

        emailField.value=' ';
      }
    }
  </script>


</body>
</html>
