@import '../../../styles/base/all';

input {
  @include grid-column(9);
  margin-bottom: 0;
  margin-top: 0;
}

button {
  @include grid-column(3);
  margin-left: 10px;
  border: 1px solid $color-primary;
  color: $color-white;
  font-size: 1.7rem;
  padding: 1rem 0.7rem;

  &:hover {
    border-color: $brand-purple;
  }

  > * {
    line-height: 1.3;
  }

  .search-button-icon {
    display: block;

    @media screen and (min-width: $small-screen) {
      display: none;
    }
  }

  .search-button-text {
    display: none;

    @media screen and (min-width: $small-screen) {
      display: block;
    }
  }
}

input,
label {
  max-width: none;
}

label {
  height: 0px;
  margin: 0;
  overflow: none;
  text-align: left;
  text-indent: -9999px;
}

.search-form {
  @include clearfix;
}

.search-input-container {
  @include grid-column(9);
}
