@import '../../../styles/base/all';

input {
  @include span-columns(9);
  margin-bottom: 0;
  margin-top: 0;

  &[type="text"] {
    border: 1px solid $color-gray-light;
  }

  &[type="submit"] {
    @include span-columns(3);
    padding-left: 0;
    padding-right: 0;
  }
}

input,
label {
  max-width: none;
}

label {
  height: 0px;
  margin: 0;
  overflow: none;
  text-align: left;
  text-indent: -9999px;
}

.autocomplete-container {
  @include span-columns(9);
  position: relative;
}

.search-form {
  @include clearfix;
}
