@import '../../../styles/base/all';

input {
  @include grid-column(9);
  margin-bottom: 0;
  margin-top: 0;

  &[type="submit"] {
    @include grid-column(3);
    padding-left: 0;
    padding-right: 0;
  }
}

input,
label {
  max-width: none;
}

label {
  height: 0px;
  margin: 0;
  overflow: none;
  text-align: left;
  text-indent: -9999px;
}

.search-form {
  @include clearfix;
}
