@import '../../../styles/base/all';

.browse {
  @include grid-column(12);
  margin-top: 0.7rem;

  @media screen and (min-width: $small-screen) {
    display: none;
  }
}

.button-container {
  display: none;
  margin: 0 auto;

  @media screen and (min-width: $small-screen) {
    display: block;
  }
}

.search-with-icon-button {
  @include grid-column(3);
  font-size: 0.8em;
  margin: 0;
  margin-left: 10px;
  padding: 1rem 0.7rem;

  @media screen and (min-width: $small-screen) {
    display: none;
  }
}

.search-with-text-button {
  display: none;

  @media screen and (min-width: $small-screen) {
    display: inline-block;
  }
}

.browse-by-agency-button {
  padding: 1rem 1.5rem;
}

button {
  border: 1px solid $color-primary;
  color: $color-white;
  font-size: 0.8em;
  margin-left: 10px;
  margin-top: 1.5rem;
  padding: 1rem 0.7rem;

  @media screen and (min-width: $small-screen) {
    font-size: 1.4rem;
    padding: 1rem 4rem;
  }

  &:hover {
    border-color: $brand-purple;
  }

  > * {
    line-height: 1.3;
  }

  &.search-with-icon-button {
    display: block;
    font-size: 0.8em;

    @media screen and (min-width: $small-screen) {
      display: none;
    }
  }
}

input,
label {
  max-width: none;
}

label {
  height: 0px;
  margin: 0;
  overflow: none;
  text-align: left;
  text-indent: -9999px;
}

.search-form {
  @include clearfix;
}

.search-input-container {
  @include grid-column(9);
  width: calc(75% - 25px);

  @media screen and (min-width: $small-screen) {
    @include grid-column(12);
  }
}

.search-results-content {
  .search-input-container {
    @include grid-column(9);
    margin-left: 0;
  }

  .button-container {
    display: inline-block;
  }

  button {
    margin: 0;
  }

  .browse-by-agency-button {
    display: none;
  }
}
