@import '~bourbon/app/assets/stylesheets/addons/font-stacks';
@import '~uswds/src/stylesheets/core/variables';

li {
  width: 100%;
  text-align: left;
}

.autocomplete {
  background-color: #ffffff;
  border: 1px solid lighten(#1c4772, 20);
  display: none;
  position: relative;
  top: 0.25em;
  width: 100%;
  z-index: 1000;

  @media screen and (min-width: $small-screen) {
    display: block;
  }
}
