li {
  width: 100%;
  text-align: left;
}

.autocomplete {
  background-color: #ffffff;
  border: 1px solid lighten(#1c4772, 20);
  display: block;
  position: relative;
  top: 0.25em;
  width: 100%;
  z-index: 1000;
}
