/* import CSS rules that allow you to use icons */
@import '~@code.gov/code-gov-font/css/code-gov';
@import '~devicons/css/devicons.scss';

@import '~@code.gov/code-gov-style/_sass/_all.scss';

.banner {
  background-image: url("./assets/img/american_flag_1920x1280_gradient.jpg");
}
