@keyframes fadeInUp {
  from {
    transform: translateY(0.5em);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes blink {
  from {
    color: transparent;
  }
  to {
    color: transparent;
  }
  50% {
    color: $brand-highlight;
  }
}
