$button-primary-color: $brand-blue;
$button-primary-color-hover: $brand-blue-dark;

$button-secondary-color: $brand-purple;
$button-secondary-color-hover: $brand-purple-dark;

$button-tertiary-color: $brand-blue-gray-dark;
$button-tertiary-color-hover: $brand-teal;

.usa-button.usa-button-small {
  font-size: 0.8em;
  padding: 0.6rem 1.2rem;
}

.button {

}

.button--primary {
  background-color: $button-primary-color;

  &:hover {
    background-color: $button-primary-color-hover;
  }
}

.button--secondary {
  background-color: $button-secondary-color;

  &:hover {
    background-color: $button-secondary-color-hover;
  }
}

.button--tertiary {
  background-color: $button-tertiary-color !important;
  color: $color-white !important;
  font-weight: bold;
  padding: 0.25rem 1.25rem;

  &:focus,
  &:hover {
    background-color: $button-tertiary-color-hover !important;
    border-color: $button-tertiary-color-hover !important;
    transition: all 0.2s ease;
  }
}

.button--transparent {
  background-color: transparent;
  border: 2px solid $color-white;

  &:focus,
  &:hover {
    background-color: $brand-teal;
    border: 2px solid $brand-teal;
  }

  .block--teal & {
    &:focus,
    &:hover {
      background-color: $brand-blue-gray-dark;
      border: 2px solid $brand-blue-gray-dark;
    }
  }
}
