.l-block--extra-large {
  padding: 3rem 0 1.5rem;

  @media screen and (min-width: $medium-screen) {
    padding: 8rem 0;
  }
}

.l-block--large {
  padding: 2rem 0 1rem;

  @media screen and (min-width: $medium-screen) {
    padding: 4rem 0;
  }
}

.l-block--medium {
  padding: 0.75rem 0 3rem;

  @media screen and (min-width: $medium-screen) {
    padding: 2rem 0 3rem;
  }
}

.l-block--small {
  padding: 0.3rem 0;
}
