$header-color: $color-gray-dark;
$header-contrast-color: $color-white;

$text-color: $color-gray;
$text-contrast-color: $color-white;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
  font-size: 14px;
  font-feature-settings: "kern", "liga", "pnum";
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
}

label {
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
}

a {
  &:focus {
    box-shadow: 0 0 3px rgba($color-gray-dark, 0.25), 0 0 7px rgba($color-gray-dark, 0.25);
    outline: 0;
  }
}

h1,
h2,
h3,
h4,
h5
h6 {
  color: $text-color;
  font-family: $header-font-family;
  font-weight: 500;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  color: $header-color;
}

p {
  color: $text-color;

  @media screen and (min-width: $medium-screen) {
    font-size: 1.1em;
  }
}

blockquote {
  background-color: $color-gray-lightest;
  border-left: 6px solid $brand-purple;
  margin: 1.5em 0;
  padding: 1em 1em 1em 2.5em;

  p {
    font-size: 0.95em;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

code {
  background-color: $brand-blue-gray;
  border-radius: 3px;
  color: $color-gray-lightest;
  font-size: 0.9em;
  padding: 2px 3px;
}

a {
  text-decoration: none;
}
