$header-color: $color-gray-dark;
$text-color: $color-gray;

body {
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
}

label {
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
}

a {
  &:focus {
    box-shadow: 0 0 3px rgba($color-gray-dark, 0.25), 0 0 7px rgba($color-gray-dark, 0.25);
    outline: 0;
  }
}

h1,
h2,
h3,
h4,
h5
h6 {
  color: $header-color;
  font-family: $header-font-family;
  font-weight: 500;

  &:first-child {
    margin-top: 0;
  }

  .block--dark & {
    color: $color-white;
  }
}

p {
  color: $text-color;

  @media screen and (min-width: $medium-screen) {
    font-size: 1.1em;
  }

  .block--dark & {
    color: lighten($brand-blue-gray, 50);
  }
}
