@import '~bourbon/app/assets/stylesheets/addons/font-stacks';

$header-font-family: 'TT Lakes', $helvetica;

$brand-primary: #005289;

$brand-blue: #0071bc;
$brand-blue-dark: #004370;

$brand-blue-gray-light: #71839d;
$brand-blue-gray: #485568;
$brand-blue-gray-dark: #323a45;

$brand-teal: #43ddd7;
$brand-teal-medium: #23C0BA;
$brand-teal-dark: #00847f;

$brand-purple: #42519F;
$brand-purple-dark: #333f7b;

// USWDS Colors
$color-primary:              #0071bc;
$color-primary-darker:       #205493;
$color-primary-darkest:      #112e51;

$color-secondary:            #e31c3d;
$color-secondary-dark:       #cd2026;
$color-secondary-darkest:    #981b1e;
$color-secondary-light:      #e59393; // lighten($color-secondary, 60%)
$color-secondary-lightest:   #f9dede; // lighten($color-secondary, 90%)

$color-white:                #ffffff;
$color-black:                #000000;

$color-gray-dark:            #323a45;
$color-gray:                 #5b616b; // lighten($color-gray-dark, 20%)
$color-gray-medium:          #757575; // lightest gray that passes color contrast
$color-gray-light:           #aeb0b5; // lighten($color-gray-dark, 60%)
$color-gray-lighter:         #e4e4e4; // lighten($color-gray-dark, 80%)
$color-gray-lightest:        #f6f6f6; // lighten($color-gray-dark, 91%)

$color-gray-warm-dark:       #494440;
$color-gray-warm-light:      #e4e2e0; // lighten($color-gray-warm-dark, 90%)
$color-gray-cool-light:      #dce4ef; // lighten($color-primary, 90%)

$color-gold:                 #fdb81e;
$color-gold-dark:            #9a6b01; //  darken($color-gold, 25%)
$color-gold-light:           #f9c642; //  lighten($color-gold, 20%)
$color-gold-lighter:         #fad980; //  lighten($color-gold, 60%)
$color-gold-lightest:        #fff1d2; //  lighten($color-gold, 83%)

$color-green:                #2e8540;
$color-green-light:          #4aa564; // lighten($color-green, 20%)
$color-green-lighter:        #94bfa2; // lighten($color-green, 60%)
$color-green-lightest:       #e7f4e4; // lighten($color-green, 60%)

$color-cool-blue:            #205493;
$color-cool-blue-light:      #4773aa; // lighten($color-cool-blue, 20%)
$color-cool-blue-lighter:    #8ba6ca; // lighten($color-cool-blue, 60%)
$color-cool-blue-lightest:   #dce4ef; // lighten($color-cool-blue, 90%)
