@import '../../../../styles/base/variables';

.agency-container {

  h1 {
    font-size: 1.8em;
    margin-bottom: 0.2em;
  }

  .loading-dialog {
    text-align: center;

    > p {
      margin-top: 120px;
    }

    > img {
      margin-bottom: 120px;
    }
  }
}

.repo {

  a {
    color: $color-gray;
    display: block;
    font-size: 0.95em;
    margin-bottom: 1em;
    text-decoration: none;

    &:hover {
      h3 {
        color: $color-primary;
      }
    }
  }

  p {
    font-size: 0.95em;
    margin: 0;
  }
}

.repos-count {
  margin: 0 0 1.5em;
}

.repo-features {
  margin-top: 1em;

  li {
    display: inline-block;
    margin-right: 0.75em;

    &:last-child {
      margin-right: 0;

      i {
        margin-right: 0.2em;
      }
    }
  }
}
