@import '../../../../styles/base/all';
@import '../../../../styles/utils/all';

.agency-container {

  h1 {
    font-size: 1.8em;
    margin-bottom: 0.2em;
  }
}

.repo {

  a {
    @extend %card;
    @include transition(all 0.2s ease);
    color: $color-gray;
    display: block;
    font-size: 0.95em;
    margin-bottom: 1em;
    text-decoration: none;

    &:hover {
      box-shadow: 0 3px 5px rgba($color-gray-dark, 0.25);

      h3 {
        color: $color-primary;
      }
    }
  }

  p {
    font-size: 0.95em;
    margin: 0;
  }
}

.repos-count {
  margin: 0 0 1.5em;
}

.repo-features {
  margin-top: 1em;

  i {
    color: $brand-teal;
  }

  li {
    display: inline-block;
    margin-right: 0.75em;

    &:last-child {
      margin-right: 0;

      i {
        margin-right: 0.2em;
      }
    }
  }
}
