<div *ngIf="agency">
  <h1>{{agency.name}}</h1>

  <ul class="repos-list usa-unstyled-list">
    <li *ngFor="let repo of repos" class="repo">
      <a routerLink="/explore-code/repos/{{repo.repoID}}">
        <h3 class="repo-name">{{ repo.name }}</h3>
        <p class="repo-description">
          {{ repo.description }}
        </p>
        <p *ngFor="let language of repo.codeLanguage" class="language">
          {{ language.language }}
        </p>
      </a>
    </li>
  </ul>

  <div *ngIf="!hasRepos">
    <p>
      No repositories found.
    </p>
  </div>
</div>
